<%- include('header') %>

  <body>
    <section class="top">
      <a href="/../">
        <img src="/img/Student-section/placement-postulates/icon.svg" alt="" class="logopp"></a>
    </section>
    <section class="head">
      <p>PLACEMENT POSTULATES
        <br>
        By Aditya Dikshit
      </p>
    </section>
    <section class="blog">
      <img class="img1" src="/img/Student-section/placement-postulates/blogs/Aditya-Dikshit/1.jpg">
      <p>Hello everyone ,</p>
      <p>I am Aditya Dikshit, a final year undergraduate (Y18) in Civil Engineering. I have secured an Associate role at Accenture Strategy in Phase 1 of the placement season 2021-22. Previously I have also been the coordinator of the students’ opinion society (SOS). Without any further ado, let’s discuss how a guy with no intern no substantial project landed a role of his choice.
       
      </p> 
      <p>  
        I was a very introverted guy from the first year into the insti. Not having an FB account until Jan next year kept me isolated and underinformed about campus happenings of various clubs. Thankfully one of the wingi forcefully took me to one of the discussion sessions of students’ opinion society. And then I had found my club (p.s. it helped me secure the role, you’ll know-how, in a while).
                                  

      </p> 
        <p> <img class="img2" src="/img/Student-section/placement-postulates/blogs/Aditya-Dikshit/2.jpg">
          After my first year summers, I was sure that I was not going into a tech role. The CSE dept hosted the 2nd edition of Summer of Code, IITK, a full 2-month project-cum-internship in full-stack development. Here we were taught web dev from scratch and were expected to develop a working project on one of the problem statements shared by the organising team. Though we, a group of five, did it with complete determination and secured the first position, it helped me eliminate one of the possible career options.                                                                 
    
          </p> 
          <p> As the internship season was approaching closer, my fear of remaining empty-handed in the spo drive was multiplying as the only thing until then I had on my resume was a modest cpi of 8.2. So far, as per the experiences of seniors, non-tech companies had hardly come in the intern season, and hence I was not preparing for the intern at all. Still, on the advice of my friends, I made my resume which helped me recollect all the significant things I had done so far.                                                                                                         
    
          </p>
      <p> <img class="img1" src="/img/Student-section/placement-postulates/blogs/Aditya-Dikshit/3.jpg">
        Once again, as the placement season was nearing, I was again in a dilemma about how to proceed further. Starting with my resume, it was not much different than the internship one. The only significant difference was cpi updated to 8.5, and now it also had the PoR as Coordinator, SOS. The two only things that I was hoping would help me secure any role. I wasn’t optimistic about getting shortlisted in the MBB companies that come as off-campus opportunities, and true to my expectations, I didn’t. Even after repeated requests from friends, I didn’t touch coding since I was sure that I wouldn’t be applying for tech roles. Eventually, the roles I was eyeing included consulting, management trainees, analyst. Now I was relaxed as I had ample time to prepare a minimal set of things that included:
        <ol>
          <li> Aptitude: Pariskha app </li>
          <li> Probability: Fifty challenging problems, Brainstellar </li>
          <li> SQL: w3schools, interviewbit </li>
          <li> Puzzles: GFG, Interviewbit </li>
          <li> Guesstimates and cases: MConsultingPrep(YT), CaseInterviewCracked(YT & Book), IITM Casebook </li>
        </ol>
      </p> 
      <p>
        As the drive began, to everyone’s surprise, the surge in non-tech roles was mind-boggling, be it product management, analyst or even consulting roles. Seeing the manifold increase in non-tech roles, there was some hope of me too getting placed. As the tests began, they seemed more to be a speed test rather than a test of knowledge. Eventually, as the shortlists were announced, I was there in a handful of them, and once again, I wasn’t there in any of them that were based solely on resumes.
   
      </p>
      <p> <img class="img2" src="/img/Student-section/placement-postulates/blogs/Aditya-Dikshit/4.jpg">
        I had the majority of interviews from Day 2 onwards. In 1.1, I had a Finmechanics interview scheduled at 2 AM, which I was pretty sure isn’t of any use but for an experience. In 2.1, initially, I had only Accenture and Myntra scheduled. But at 3:30 AM on Day 2 (yes, 30 mins before 2.1), I received a mail from SPO that I was also shortlisted for Praxis. The first interview was for Praxis which had a traditional market-entry case. It was followed by round 1 of Myntra, which was an app-related problem-solving. All this while, I was struggling to join the Accenture interview call as it was on HirePro, and my system had failed the requirements validation check. Special thanks to Shivam for helping me out by arranging for a laptop early morn. Thankfully by then, I had received the call for 2nd round of both, Praxis and Myntra. In Praxis, it was an interaction with some senior management, and it was majorly based on the Summer of Code project. Myntra again had similar problem solving and some SQL questions.
      </p> 
      <p>  <img class="img1" src="/img/Student-section/placement-postulates/blogs/Aditya-Dikshit/5.jpg">
        Even before the process for Accenture had begun, the PoC of Praxis had informed me that I had been selected. It was a big sigh of relief and a significant confidence boost. By now, I had been called for the 3rd round (HR) of Myntra too. Since I had Myntra 3rd in my preference, hence decided to join it after completing the process of Accenture as it had only two rounds. Next, I went for Accenture, which was a guesstimate. Thankfully I was there for the next round (the best of six interviews of the day). This was the round where probably I was in the driver's seat. The lady had asked about my interests where I listed following current affairs as one of them, to which she replied let’s discuss IPOs as they were the buzzword during that time. For the next ~15 mins, we were discussing Paytm’s IPO. I was comfortable discussing it as I recently read some news articles regarding it. Also, having researched the role and the company helped when I was asked to name any recent project of the company that has impressed you. The conversation was pretty informal, and she was impressed as in the feedback she said that the entire conversation was in a direction and in particular, throughout, any of the arguments did not refute any previous one.

      </p>
      <p>  <img class="img2" src="/img/Student-section/placement-postulates/blogs/Aditya-Dikshit/6.jpg">
        Within 15 mins, there was good news from the Accenture PoC too. It was 10 in the morning, and I was in no mood to give any further rounds, so I informed the myntra poc accordingly. They again requested to reconsider, but I was done for the day. The key learning of the day was to never let peer pressure get on you; even though your road might be the less traversed one, it’ll take you to the end. Initially, it was beyond imagination that an Editorial and an IE Explained would get me a job.

      </p>
      <p> 
        Before taking your leave, I would like to share the learnings of this 4 month's journey, hoping it might help some.

        <ol>
          <li>Out of the three necessary elements of a resume: CPI, Intern, and PoR, try having at least 2(better if CPI and Intern). Anyways try keeping CPI above 8, which ensures you do not miss shortlists for tests because of cpi.</li>
          <li>It’s better to take time, structure, and answer instead of spitting out whatever comes to your head instantly. This is highly appreciated even by the interviewers.</li>
          <li>Guesstimates and cases need to be brainstormed upon and not merely read from the casebooks. Hence, it’s better to form groups and role play. In real-time interviews, if your get stuck somewhere, try asking for help; the interviewers too understand the situation and often help.</li>
          <li>Try having a closed knit preparation group of 4-5 students where you feel like fam and hence are free to share any problems.</li>
          <li>The tests (esp aptitude) will not only be a test of knowledge but also speed. Hence do practise well and focus on speed too besides accuracy.</li>
          <li>Even if the shortlists for interviews are fewer, don’t panic, you’ll get last-minute opportunities, and if you’ve prepared well, you’ll crack them too. Remember you-only-need-one.</li>
          <li>Prepare a draft of probable questions and have well-prepared answers to them.</li>
          <li>Remember, efforts don’t go in vain. I have always worked believing in the philosophy
            of only controlling the controllable.</li>
        </ol>
      </p>
      <p>   <img class="img1" src="/img/Student-section/placement-postulates/blogs/Aditya-Dikshit/7.jpg">
        Though the entire process was a stressful event, it went on very smoothly for me. This wouldn’t be possible, but for valuable tips from seniors including Achyut Verma, Krishan Kumar, and continued assistance of my batchmates, particularly Gaurav Jiwan, Shivam Chaudhary, Satwik Verma, who were there throughout.
      </p>
      <br>
      <p>P.S. In case you need to discuss anything, feel free to reachout.</p>
      <br><br>
    </section>

  </body>

  </html>