<%- include('header') %>

  <body>
    <section class="top">
      <a href="/../">
        <img src="/img/Student-section/placement-postulates/icon.svg" alt="" class="logopp"></a>
    </section>
    <section class="head">
      <p>PLACEMENT POSTULATES
        <br>
        By Ankit Kumar
      </p>
    </section>
    <section class="blog">
<p>
  Hello everyone!

Since you have reached here, so you know who I am. So, skipping the formal introduction part, I would like to clear it in the very beginning that if you are the one who has been academically well throughout your time at IITK or you are the one who always got what you wanted easily then this blog isn’t for you. This blog is for the people who are tensed about their career but don’t know what to do or for the people who are doubting themselves if they will be getting placed or not. Also, you may think that I am writing this very late according to the placements timeline but as mentioned above, the people for whom I am writing this must be really worried about placements from the last few weeks only. And yes, these ‘people’ can be from any batches, be it Y19 sitting in the placements or be it Y21, I would try my best to state things very clearly without any diplomacy. 

</p>

<b>
  My placement profile
  </b>

  <p>
    Since I was not able to get an on-campus internship in my third year, I knew the importance of a resume thereafter. So, I ensured that my placement resume should have relevant things for different profiles. Therefore, during the resume submission for the placement drive, I wasn’t the one who was not able to fill spaces in the one-page resume or who was struggling to get some projects, internships or POR from here and there. I submitted three one-page resumes, one for software/analytics, one for consulting/product management and one for core profiles. You can check out my one-page resumes here:

  </p>

  <p> <a href="https://drive.google.com/drive/folders/1lnPtzSM23eZWocKc-vpghcON4t0QJ3Jv?usp=sharing "> [Resume] </a></p>


  <b>Target profile 
  </b>

  <p>
    Before the placements, I had one thing on my mind I will not selectively choose any specific profile(s) to apply for. So, I applied for nearly all kinds of profiles in the beginning. What happened as the placement drive move ahead was quite interesting though, let us not talk directly about it here. 
  </p>

  <img class="img1" src="/img/Student-section/placement-postulates/blogs/Ankit-Kumar/1.jpg">

  <b>Placement Preparation</b>
  <p>
    <b> Coding:</b> I am the person who usually likes to delay things as further as possible, but never let things pass away quite easily. So, I never really solved even a single coding problem throughout the placement drive but I watched Data Structures videos sometimes (YouTube Channel” Aditya Verma). 
  </p>
  <p>
    <b>Aptitude and Probability & Statistics:</b> I observed during the internship drive that aptitude is the one thing that is highly underrated on our campus because people think that is a piece of cake but I know for the majority it isn’t the case. So, I took aptitude preparation very seriously from the very beginning of my preparation. I majorly prepared for it through CAT Video Lectures and Test Series by TIME, Kanpur. Other resources include Placement Preparation Course by Prepleaf (it was also cost-efficient, self-paced and covered probability and statistics) and mock tests on Pariksha. 
  </p>
  <p>
  <b>Puzzles:</b> I majorly prepared for it through Brain Steller. Under this too, you don’t need to do every puzzle. Just focus on easy and medium puzzles. Trust me when I say that more than 90% of the puzzles you will be asked during your interviews will be the same or a little variation of these problems. So, when I say focus on only two categories- easy and medium, you need to solve them again and again in such a way that by the time of the interviews you have all the solutions on your tips with a clear understanding of their logic so that you can easily solve their variations during the interviews. This task will because easier if you get these puzzles printed and write your understanding of the logic of each puzzle. This is my personal opinion but I highly discourage solving “Fifty Challenging Problems” because firstly it can demotivate you and secondly I have heard nearly never those problems being asked in the interviews, so it is up to your wish. If you get some extra time, you can go through puzzles on GeeksforGeeks too.
  </p>
  <p>
  <b>Guesstimates and Case Studies: </b>I will say myself foolish because I was very very late in starting my preparation here because I got demotivated after I was not shortlisted in MBBs since I had planned to prepare for guesstimates and case studies after getting even a single shortlist. So, I would suggest not to do any such foolish thing and get over the bad results as early as possible. Even at the time of the interviews, I had hardly solved 10 cases for each one of them. Still, one thing that I think most of you must already have heard from many people is don’t ever read cases, you should solve cases with your friends/seniors as they are asked in an interview. 
  </p>
  <p>
  <b>Mock Interviews:</b> Speaking of ‘interviews’, I was shortlisted for only one interview in the internship drive that too was for a SDE profile, so I didn’t have much interview experience when it comes to on-campus interviews. But one thing that I was confident about was my ‘confidence’. Yes, I have always been a person who never really gets tensed in formal interactions or interviews (off-campus). Also, building Hunt for Success helped me gain more confidence since I interacted with many industry professionals daily. So, in short, I didn’t even give a single mock interview and I will highly discourage this practice. The one thing that led me to this stage was my habit of delaying things, so I didn’t get any time left for mock interviews. 
  </p>
  <img class="img2" src="/img/Student-section/placement-postulates/blogs/Ankit-Kumar/2.jpg">
  <b>Placement Drive (before interviews)</b>
  <p>
    For us, the frequency of placement tests increased after Mid-October, till then there wasn’t any tense environment due to the placement tests. Also, some companies have different screening rounds too, majorly for product profiles. Nearly all the product profiles had a deck submission round which requires utmost effort, so I decided not to apply for any such companies. This was my personal opinion with no specific reasons. As November started, the frequency of companies coming on the portal and the number of tests increased tremendously. There were many days when we had 3-4 tests. Also, didn’t mention it earlier, but I came to the campus when we got a call from the IITK administration to voluntarily come back, many of my friends also didn’t. But I am really satisfied with my decision to come back to campus. So, as Dec 1 came closer, we were also getting interview shortlists for different companies. With each shortlist, I was getting more and more disheartened because I was not seeing my name there. I never really cared about all the interview shortlists, but you feel bad when you don’t get a shortlist for tests in which you performed well or the companies you aimed for. As I always try to express my sadness through humor, so people may not see that I am tensed, but yes I was. In this placement drive, you will always get a time when you will start doubting yourself and your decisions, I also did. In the end, I even submitted decks for two companies, Meesho and Shadowfax, see the irony. Still, I always had a faith in myself that I will do something good for myself, so I kept moving forward. 
  </p>
  <img class="img1" src="/img/Student-section/placement-postulates/blogs/Ankit-Kumar/3.jpg">
  <b>Placement Drive (Interviews)</b>

  <p>
    As mentioned above, I was not getting many interviews shortlists, so I was the one who was hoping to get the name in the waitlisted candidates
  </p>
<p>
  <b> Day 0: </b>
I was getting my hair cut done at the IITK Gate when I got a call from a CoCo that I have my first round of interview with Samagra in the next 30 minutes. Fun fact, I also didn’t buy a suit, so I need to get my haircut done, do the setup for the call and also arrange the suit for the interview, which I was able to do, obviously. One thing that IITK teaches to every student is to get things done on a deadline, so yeah!

</p>
<b>Samagra | Round 1 (45-50 minutes)</b>

<p>
  It was not a typical interview round where you will be thrown questions one by one. At the first, it was a casual conversation about my resume and then the interviewer started with the screening. Since the organization majorly works with government bodies, so it wasn’t a typical case study. 
Case Study: You are the Director of an ITI (Industrial Training Institute) in your city. Recently, the government has decided to change the curriculum of Diploma Programs at ITIs, so you need to choose 15 courses out of 250 courses that will be taught at your ITI. How will you decide on these courses?
Since this wasn’t a typical case study, so the interviewer also wasn’t expecting a clear-cut framework. We had a fruitful discussion and were able to get some results. I had a good feeling after this case. 
Next, I was given a normal guesstimate which I was able to express well. 

</p>

<b>Day 1.1:</b>
<p>
I didn’t have any shortlist and also in the first slot, I wasn’t expecting any waitlist call too. 
</p>
<b>Day 1.2:</b>
<p>I didn’t have any shortlist for this slot too, wasn’t expecting any waitlist call too. But, I did receive a call from a CoCo for the first round of interview with Jumio Corporation for the role of DevOps Engineer. Since I didn’t know even the ‘D’ of DevOps, I decided to skip this interview.</p>

<b>Day 2.1 (D-Day):</b>
<p>I didn’t have any shortlist for this slot too but I was expecting waitlist calls in this slot. Before I can think of the waitlist calls, I was added to a WhatsApp Group for Myntra, Data Analyst profile. I also got a waitlist call from Groww for the role of Business Associate. So, starting in the early morning, I got occupied with interview rounds. Also, Myntra and Groww, I got a waitlist call from Praxis Global Alliance for the role of Associate Consultant.</p>

<b>Groww | Round 1 (30-40 minutes)</b>
<p>This was an interview where the interviewer didn’t try to set a vibe with the interviewee, he directly threw a Product Case Study at me which I haven’t prepared for. Didn’t remember the exact problem statement, but it was a RCA (Root Cause Analysis) Product Case for E-Commerce App. I tried my best to express my framework but since I haven’t practiced even a single Product case I wasn’t able to crack it fully. I didn’t have many hopes for a call for the next interview round, and I didn’t get the call. </p>

<b>Praxis Global Alliance | Round 1 (30-40 minutes)</b>
<p>This was a typical consulting interview where firstly I was asked things from my resume, then a profitability case (didn’t remember the exact case but the answer lies in the Distribution part) and some quick mathematical questions like 101*91 (didn’t remember the rest). I was really satisfied with this interview since I was able to answer all the questions very well.</p>

<b>Praxis Global Alliance | Round 2 (25-30 minutes)</b>
<p>This was like a “hiring manager” interview round where I was asked some really good questions from my summer internship at Bajaj Finserv. The discussion even escalated to discuss problems in the Fintech industry. In the end, we also had a casual conversation through which I got confident that I would be extended an offer. 

</p>
<b>
  Myntra | Round 1 | Problem Solving + Logical Reasoning (25-30 minutes)
  </b>
  <p>
    This was my first interview on Day 2.1 at 4.30 AM. The interviewer was relaxed and ensured that I become comfortable before starting the interview. I was asked questions from my two internships, one puzzle (variation of ‘Which Switch’ problem on Brain Stellar) and he mentioned to me that I will be surely asked multiple questions from my second internship (Strategy & Consulting Intern, Edggi) in the further rounds. So, he already said me that I will be proceeding to the next round.
  </p>

<b>
Myntra | Round 2 | Analytical Ability (25-30 minutes)
</b>
<p>
  Here, the interviewer majorly grilled me on my second internship which I was already aware of, so I was able to answer all the questions. The interviewer was satisfied with all my questions and he even said that I have made him short with questions, so this was motivating for me to hear.
</p>
<b>
  Myntra | Round 3 | HR (25-30 minutes)
</b>
<p>
  I never really doubted myself for HR rounds, so it was a great conversation with HR. 
</p>

<b>
  Myntra | Round 4 | Hiring Manager Round (35-40 minutes)
</b>
<p>
  Now, this Round 3 was the HR round, I thought there wouldn’t be any more rounds, but the CoCo told me that this is only a ‘casual round where the company will only tell you that they are extending an offer to you. But things turned over when the interviewer started asking me Machine Learning questions from one of my projects and seriously I was really tired at that time. So, I tried to answer each of the questions diplomatically. 
</p>

<b>Results:</b>
<p>At the end of Day 2.1, I was expecting two offers, one from Praxis Global Alliance and another from Myntra. But, unfortunately, I was not extended an offer by Praxis Global Alliance, it was disheartening but I was not able to think much about it since under two hours after getting the result, I got hospitalized, lol.</p>

<img class="img2" src="/img/Student-section/placement-postulates/blogs/Ankit-Kumar/4.jpg">
<b>Placement Tips:</b>
<p>
  <ol>
    <li>	The first and most important piece of advice is to never underestimate yourself at any phase of the placement drive. Always think about your achievements from the past where you achieved something irrespective of all the hardships. </li>
    <li>
      	Be confident. There will be many of you who must have exaggerated some things on your resume, no issues with that, but you should be confident enough to present it in front of the interviewers. I can clearly say with experience that even if you don’t know anything about the question asked, presenting your thoughts confidently will add value to the discussion.
    </li>
    <li>
      	Believe in yourself and your friends. Friends are very important during the placement drive. You may have friends with PPO or the ones who aren’t sitting in the placements, but trust me your situation can only be completely understood by friends who are on the same boat as you
    </li>
    <li>
      Start giving mock interviews as early as possible even if you think you haven’t completed your preparation since delaying this to the end can highly impact your placements.</li>
     <li> Try not to be much around people who have different placement goals than yours. Not to take it otherwise, but you know your worth, your branch and your preparation, so be around people who motivate you, not the ones who make you more stressed.</li>
     <li>साम दाम दंड भेद - This phase will only come once for you, so by hook or by crook. Rest, you are wise enough to understand what I want to convey through this. </li>
  </ol>
</p>

<p>
  As far as I can see, I have covered most of the things that I wanted to cover. Lastly, needless to say, you can reach out to me whenever you want, I would be really happy to help you in any way in your placement drive. Best wishes to everyone!
</p>

<br><br>


    </section>

  </body>

  </html>