<%- include('header') %>

  <body>
    <section class="top">
      <a href="/../">
        <img src="/img/Student-section/placement-postulates/icon.svg" alt="" class="logopp"></a>
    </section>
    <section class="head">
      <p>PLACEMENT POSTULATES
        <br>
        By Chitwan Garg
      </p>
    </section>
    <section class="blog">
      <img class="img1" src="/img/Student-section/placement-postulates/blogs/Chitwan-Garg/1.jpg">
      <p>Hello Everyone!</p>
      <p>Myself Chitwan Garg Y16, B-Tech graduate in Civil Engineering and a Double Major in Economics. I am a guy
        who did not have any significant extracurricular involvements during my first year except for those that
        were made compulsory to remain patriotic to our mother hall with hearts full of hall feeling :p (I
        enjoyed the escapes from HEC that I made with some of my wingies during takneek).
      </p>
      <p>Then came the second year and as most of the students tend to get involved in at least one of the PORs, I
        too started to look out some of the possible options. I got involved in the Techkriti marketing team
        along with the Company Coordinator position at SPO. During my time spent at both of the places, I made
        up my mind to continue with the SPO in my third year (which I eventually did) as the idea of getting to
        know about the placement scenario inside out felt more promising to me at that point of time.
      </p>
      <p>It was in the second half of the 4th semester that most of the people started to work on planning for the
        upcoming summers. This is a crucial time as your involvement in summers will shape a significant portion
        of your resume with which you are going to apply for the internship roles. Having fruitful suggestions
        and gyaan from my seniors, I started mailing professors at IITK for projects under them in the summers.
        I was fortunate enough to get a positive response from 2 of the professors, one from my dept and the
        other from the Economics dept. I was also a part of the Finance Discussion Group, which was then newly
        established and a finance Bootcamp course was the first offering they came up with. I participated in
        the same and got my first formal introduction to the field of finance. It's rightly said that until you
        try out different things, it's almost impossible to know your interests. I would strongly urge you to
        start organizing your summers well ahead. Try for a good internship in your field of interest, or apply
        for SURGE or get involved in some research project work under any professor whose research interests
        align with your interest. If you are interested in non-core and soft dev roles, I would suggest you
        start coding in these summers and also take DS if you haven't done it yet, although I didn't do it
        despite aiming for non-core roles (although I was not interested in soft dev roles) and I feel that it
        would have been better if I had started coding in the summers itself.
      </p><img class="img2" src="/img/Student-section/placement-postulates/blogs/Chitwan-Garg/2.jpeg">
      <p>
      </p>
      <p>Now if there is someone in 5th sem who is feeling that he/she is already out of the race, then please
        relax !! You are still very well in the race. All that's required from you is commitment and intent to
        grab a third year summer intern. I sat in the SPO internship drive, the next couple of months were
        testing times for me. Managing tests, interview prep, a third year PoR, departmental courses along with
        the shortlist rejection post pressure, all at the same time becomes a little challenging. This is the
        time to keep your nerves held up. Don’t lose hope as you never know when your day arrives. The same
        happened with me, I didn’t get to the interview rounds in any of the companies in the first 15 days of
        the internship drive (Primary reason being lack of coding practice due to which I could not cut into the
        coding rounds of most of the companies) except for Nomura in which I got rejected in the 2nd interview
        round. But I was lucky enough to get shortlisted for HSBC Global Banking and Markets, which arrived a
        little later than it should have, and luckily, I made it to the final selects list. The most prominent
        factor that helped me get through the interview process was the projects that I did under professors at
        IITK as one of the 3 rounds of the interview process went completely on the projects. Apart from that,
        the ML course (our famous Andrew NG’s, on Coursera), FDG Bootcamp content, Investopedia readings,
        thorough preparation of Probability puzzles and timely revision of HSO201 helped a lot in the process.
      </p>
      <p> Now again if you are a person in your 6th sem reading this and thinking that there is nothing left
        now...then please relax!! There still is some time left to prepare yourself well for the eventual goal,
        i.e. the PLACEMENTS.
      </p>
      <p> First of all, you should keep trying off-campus internships in case you have not managed to get it
        through SPO. The best way to do this is to start using LinkedIn as your free time social media platform.
        Comment on the relevant posts, send connection requests to relevant people and reach out personally to
        Alums of IITK working in your target companies. Do reach out to startups as well which have good job
        descriptions. You will get to see companies that offer technical roles with a decent Job description but
        a lower stipend, I would suggest that don’t rule out such opportunities straight away. All you need from
        an internship is a medium to put your technical skills at work and showcase them in your resume. No one
        writes his/her stipend in the resume...right !!..it is the project description that will help you ace
        your final interview at IITK and land you up in your dream job. Also, if you are aiming for Analyst, ML
        or Quant-related roles in placements, then you should take CS771 if you have not done any ML course by
        now. If you don't manage to get CS771, then absolutely no issues, take up some good online courses in
        Machine Learning.
        <img class="img1" src="/img/Student-section/placement-postulates/blogs/Chitwan-Garg/3.jpg">
      </p>
      <p> If your summers are sorted, then I would suggest you utilize the 6th semester well by starting to code
        if you haven’t coded for a long time. I would recommend leetcode or interview bit for this. If you are
        still doing an intern search, then I agree that it would be a little hectic for you with departmental
        courses but at least start with easy tag questions so that you get into the habit of coding and slowly
        try to move to medium and hard level questions. Again if you have not done DS, it's strongly recommended
        you do it in this sem (look up online courses if you couldn't do ESO 207). There will surely be readers
        who think that they don't want to get into roles that require coding, but I would say that you will need
        to code basic data structures and algorithms in shortlisting tests of most of the companies that come
        for placements, except for a few roles like core companies, consult and product manager. I was also the
        one who didn't like competitive coding, neither had I done DS course and the one thing that I regret the
        most in my placement prep is that I procrastinated to start the coding till the very end and as a
        result, at the end of my summer internship, I was not in a position to code even a single easy problem.
        I was targeting non core roles primarily Analyst, finance and Quant roles to be very specific. And the
        bitter truth is that apart from ML, statistics and maths, you also need to be good in basic Data
        structures and algos to crack the tests of all such companies and to be good in DS and algos, you need
        to practice them.

      </p>
      <p> It was at this point that I considered an option to pursue my Double Major Programme in Economics. I had
        enrolled in it earlier (after the 4th semester) and also had done some courses from the template. I had
        the option of sitting for placements right after my intern, but my lack of preparedness with a little
        time left in commencement of tests coupled with the fact that I could complete my double major in 9
        semesters (as I had done some courses earlier) pushed me to give myself some time and I decided to
        continue with my Double Major. The folks who could not manage to grab any internship for the 3rd year
        summers can utilize those summers very well by giving their best shot to the placement preparation,
        particularly coding and other technical skills like MySQL, basics of Web development, ML, etc. To be
        very honest, an internship on the resume helps in the placement shortlists, although it is neither
        sufficient nor necessary to get shortlisted. Many of the companies allow everyone to appear for the
        tests, in such scenarios, your performance in the test if exceptional, can cover your lack of internship
        experience for getting shortlisted. (But keep in mind that a summer intern significantly helps in
        shortlisting, so it's worth the effort to crack one)
      </p><img class="img2" src="/img/Student-section/placement-postulates/blogs/Chitwan-Garg/6.jpg">
      <p> Placement prep in this covid era becomes a little unfortunate because it naturally becomes even more
        difficult to get internships to pitch your profile better through your resumes. But as it is rightly
        said, "Where there is a will, there is a way", you need to keep this fact in mind that you need an
        internship just to put your technical skills at work and showcase them in your CV. If you remain
        proactive on LinkedIn, then I can bet that you will surely at least get some unpaid opportunity if not a
        paid internship, that can help you showcase your technical and analytical skills. You can also do some
        Coursera specializations that have a capstone project in them.
      </p>
      <p> Well, after reading till here, the importance of resume in placements should be very well evident.
        Resume shortlisting is the first step in many firms that come in placement drive, this fact should be
        enough for you to keep yourself on toes right from your 2nd year summers till 6th semester.

      </p>
      <p> Now let's start talking about the kind of roles available for you in placements. If we try to get a
        holistic picture, then we can observe that there are mainly 6 buckets i.e. Consult, Analytics and Data
        Science, Coding, Quant, finance and Core firms. The department eligibility varies in each bucket. Now
        let's look at the number of opportunities in each bucket for a CE student. In Quant, there are only a
        handful of firms like iRage and JPMC which are open for all. Most of the top quant hedge funds like
        Quadeye, Alphagrep open only for CSE, EE, MTH. In Core firms, a very good role that started coming a
        couple of years ago is Tata Projects. But apart from that core CE has a very little to offer in
        placements. If we talk about Consult, then we don't have a branch bias here, but the number of Consult
        and Product managerial roles that come are very less in percentage of all the firms. Now we are left
        with Coding, analytics and finance as these three make up the majority of the total roles. A very common
        dilemma that a student faces is which kind of roles to target. Now the answer to this question varies
        for each student and depends on the experiences he/she has had in his/her academic and industrial
        journey so far. All the projects, internships, courses, MOOCs etc that you have done so far and
        associated good/bad experiences you had with them can help you decide which bucket to target or which
        bucket not to target. If you are not very confident about any one field that you want to target, then
        it's absolutely fine, that is indeed the case with the majority of us. If you have found out your
        so-called passion in these 3 years, then it's great and you can work hard to prepare for the bucket that
        matches your passion. But as was the case with me, if you are indifferent about 2-3 or more buckets like
        finance, analytics, consulting and the CTC thats on the offer is all that matters to you :p , then I
        think the best way to go ahead is to think in terms of maximizing your chance of grabbing the best
        possible job amongst your chosen group of buckets. To do this, you should keep your preparation generic.
        There is a different way to prepare for each of the buckets with some overlaps in some buckets.
        <img class="img1" src="/img/Student-section/placement-postulates/blogs/Chitwan-Garg/5.jpg">
      </p>
      <p> Coding roles require sound knowledge of DS and algos, some roles may require you to have knowledge of OS
        and networks as well (but such firms are lesser in number as they are mostly not open for CE). I had
        decided to target for Finance, Quant and analytics related roles in placements. I did search for an off
        campus intern for my 4th year summers as I could not sit in intern drive again. But due to covid
        recession at its peak, I only managed to get an industrial summer project based on Data analytics on
        India Mutual funds in one of the ed-tech startups which I found through linkedin. I did it as I was
        aiming for roles related to data science and analytics in financial services firms. I knew that I needed
        to work on my coding in the summers itself in order to manage the placement tests as I had not even done
        the DS course at IITK. I was fortunate enough to get to know about Demux Academy through an email from
        Academics and Career council. I enrolled for the DSA course that they offered and this course helped me
        a lot in preparing for placement tests/interview related coding. They organized daily live classes on
        all the important topics, discussed standard questions and concepts very well. It was all in all a very
        good experience and I would strongly recommend it to anyone who needs assistance and guidance in
        coding/DSA preparation for placement tests. Apart from this, I kept myself involved in a couple of
        online project based learnings, one, a small project in ML on Kaggle and the other, a small project on
        Web development (which was also offered by Demux) to enhance my skill set and add value to my resume.
        Web based projects can add a little value to your resume as Analytics and finance roles can sometimes
        require you to build basic dashboards and websites as well. Knowledge of Web based technologies will
        definitely help you if you are looking for Soft dev roles. If you have quant and finance in your bucket,
        then remember that Probability and statistics is a must have skill. If you have not done
        HSO201A/MSO201A, then you need to do a course on Probability and statistics. For Quant roles, you need
        to practice probability puzzles thoroughly. Refer 50 challenging problems in probability and
        Brainstellar for this. The only way to prepare puzzles is to give time to each and every problem and
        observe repeating concepts in different problems.
      </p>
      <p> Now let me take you through the most dynamic and busy semester at IITK, i.e.the placement sem.

      </p>
      <p> As soon as the summers get over, it is the time to fasten your seatbelts and be ready for a roller
        coaster ride :p (interesting, isn’t it !) You should continue your coding practice and puzzles and
        allocate time daily to solve at least 2 coding questions (one medium/hard, one easy) and some
        probability puzzles (puzzles only needed for quant). You will be left with a time of around 2 months to
        prepare for the placement tests. This is the time to start preparing for things like Aptitude, MySQL
        queries, OOPS etc. Some of the companies (very few) might ask you to code SQL queries. You can refer to
        w3schools.com for SQL tutorials and exercises. You will find OOPS related MCQs in coding bucket roles.
        Aptitude questions will appear in almost every test. So give time to these things, they might not take a
        long time to prepare individually but they together become very important and it's necessary to practice
        them to make yourself ready for the tests.(Please note that I have mentioned required concepts and
        resources for Coding, analytics, finance and quant buckets. For other buckets, please contact your
        seniors, accordingly). Then you may find ML related MCQs in ML, Data science and analytics related
        roles. For that you need to brush up your ML related concepts. I used statquest videos for revising
        concepts related to ML and statistics and found it very useful. Then for the firms in Finance and quant
        buckets, you will find MCQs related to probability and statistics. Firms like GS and JPMC ask difficult
        level Probability questions and you will often get to see famous probability puzzles in their
        shortlisting tests. Prepare for combinatorics, Expectations and distribution theory thoroughly.
      </p>
      <p> Placement tests usually start somewhere between the last week of September to the first week of October.

      </p><img class="img2" src="/img/Student-section/placement-postulates/blogs/Chitwan-Garg/7.jpg">
      <p> Once the placement tests start, things start becoming very dynamic in nature. You will spend most of
        your evenings solving tests of different companies. You might get disappointment in the very beginning
        with a few tests done, but I would suggest you to take each disappointment as a learning for the next
        test. You need to keep repeating this till the very end of the placement sem because this is the only
        way to keep improving and keep thriving. While residing at campus, you have your wingies and friends to
        entertain you and let go of your post test frustration. You might have a little different experience
        than this due to this WFH scenario where you will not have your friends at your disposal physically, but
        you can always have them connected virtually. I would strongly suggest making a whatsapp group of your
        friends with a common bucket of targets. You can get involved in multiple groups each made for a
        specific purpose. For instance, I had a group of 5-6 people and we discussed coding questions in it.
        Then I was also a part of another group for preparing guesstimates and business cases. Keep discussing
        the problems in the group and try to crack it through group discussions as we do it in our hostels.
      </p>
      <p> Things will start becoming faster with an average of 2-3 tests daily during October end and November and
        you need to be on your toes during this entire phase. It will also be the time when you will start
        receiving shortlists for the interviews. I applied for most of the companies that were open for me. I
        didn’t have a very good kickstart in the shortlisting phase. I had most of my preparation for the
        finance and analytics side and I did prepare a little bit for Quant as well, although, unfortunately, I
        could not make it to the shortlisting phase of any of the day 1 quant companies. I got my first
        shortlist at PWC Diac for an analytics embedded consulting role. They did not conduct any test and
        shortlisted from the resume directly. It came as a surprise because I had not prepared even the
        slightest for the consulting roles. Then I also got shortlisted for a soft dev role at HSBC Technology.
        Their test was a little different than other tests. They had a long section on behavioural questions, a
        section of data interpretation, then they also had video assessment in which you need to speak on topics
        that appear on screen with a few minutes(2-3 minutes per topic) given to think about the topic. Topics
        were mostly revolving around fintech as far as I remember. Then they had a small coding section which
        was fairly easy. Apart from this, I got shortlisted for Amex and EXL. Amex conducted a test that had an
        Aptitude section and case study section which was kind of unique. EXL also conducted an aptitude test.
      </p>
      <p> As soon as you receive shortlists in any of the companies, you should start contacting seniors who have
        got selected the last year in the same role. Interact with them and try to find out what all is expected
        in the interview in detail. There are always some topics that are already known to be asked for sure on
        the interview day for each company. Like Business cases and guesstimates for Consult companies,
        probability puzzles for Quant companies, DSA questions for coding companies and so on.

      </p>
      <p> You should start strengthening your preparation on these topics as soon as you get to know about your
        shortlists in respective companies. Then there are some questions in the interview which are based on
        the resume of the applicant, like work experience/projects related questions. For these second kinds of
        questions, work on the insights acquired through your seniors about their interview experience and try
        to make a list of expected questions based on your resume that can arise, on a sheet of paper. Give a
        good amount of time on each question and try to frame the answer mentally. Think of ways to defend
        yourself on your weak points that might arise during the interview. You need to think critically and
        from the interviewer’s mind inorder to have an idea of the kind of questions that might arise in the
        interview.

      </p>
      <p> I needed to prepare guesstimates and business cases mainly for PWC Diac. I started with common resources
        that were available and tried to make myself comfortable with the consulting prep for PWC Diac. As the
        time progressed and December kept nearing, I kept on revising relevant courses that I had mentioned in
        my resume like ML, Statistics etc. From 15th of November, you should start focusing on revision mainly.
        Make yourself comfortable with all the things that you learned in the past 2 months so that you can
        present them formally. This is the time to revise all your relevant courses, work done and skills
        developed in internships and projects, etc. The most appropriate way to do this is to keep your resume
        in front of yourself and start looking at it from top to bottom. Spend some time on each of the
        projects/internships that you have written on it. Go through the description, organize your thoughts and
        try to compose a detailed answer to these 4 questions for each of your projects. First, what do you aim
        to achieve through this project? Second, what did you do or How did you achieve your objective? Third,
        what impact did your project have on various stakeholders. And lastly, what challenges did you face in
        trying to achieve your objective. You should talk about all the technical concepts, research and
        analysis you did throughout the project while framing answers to the above questions. You should be very
        well clear with the business impact that your project/work brings. You should be able to defend each and
        every word that you write on your resume. This is one of the most important parts of Interview
        preparation.

      </p><img class="img1" src="/img/Student-section/placement-postulates/blogs/Chitwan-Garg/8.jpg">
      <p> I would suggest you to take help from the placement preparation organisations like prepleaf which is
        coordinated by SPO for the students. You can sometimes get very good resources/tips to revise relevant
        concepts at the last minute, just a few days before 1st December. I got to know about statquest through
        prepleaf only.

      </p>
      <p> Then came D-Day. I had only one interview scheduled on Day 1 slot 1, which was PWC Diac. It started at
        12:00 midnight on 1st December. I went through 2 rounds in a quick succession and then was never called
        for the third one. They asked me a business case in the first round. In the second round, I was asked a
        simple probability question along with a guesstimate. For the rest of the night, I could barely sleep
        because of the overflowing thoughts coming to my mind. Then from 12:00 noon, the second slot was
        scheduled, in which I had to appear for an interview scheduled at American Express. I appeared for the
        first round. I was asked about a technical case study, in which I had to tell different kinds of
        possible features/factors to consider given the description of the available data to solve a
        classification problem. I took some time and then came up with a few relevant factors gradually. Then I
        was asked a simple probability puzzle which I answered correctly. Apart from this, I was also asked
        about basic questions on clustering, SVM and logistic regression as well. The first round went for
        around 45 minutes and it went decent. Then there was another technical round in which I was asked about
        my internships in detail. There were again questions related to basic working knowledge of machine
        learning projects. This round went quite good for me and I felt a sense of satisfaction as the
        interviewer looked happy from my answers. There were only 2 rounds in the Amex process. I had no other
        interview on Day 1. I got free from both the rounds at around 3 PM in the afternoon. I kept waiting for
        the results and got to know in the late evening that I made it to the list of final selects.

      </p>
      <p> I still remember the pressure that comes after a rejection, but placements are the time when you are
        very likely to face rejections, so it's better to be mentally ready for it beforehand. This is the time
        when you need to think about the upcoming chain of events and keep learning from the bitter experiences
        you had on the interview table. I would suggest you refrain from overthinking for a few minutes before
        the start of the interview. You might get disappointments for some time initially but remember that
        “Perseverance is the key” and “You yourself don’t know when your day might arrive”.

      </p>
      <p> I am highly thankful to you if you have remained with me till now :p . I wish all the students sitting
        for placement session a very good luck for their placement sem saga.
      </p>
    </section>

  </body>

  </html>