<%- include('header') %>

  <body>
    <section class="top">
      <a href="/../">
        <img src="/img/Student-section/placement-postulates/icon.svg" alt="" class="logopp"></a>
    </section>
    <section class="head">
      <p>PLACEMENT POSTULATES
        <br>
        By Gaurav Jiwan
      </p>
    </section>
    <section class="blog">
      <img class="img1" src="/img/Student-section/placement-postulates/blogs/Gaurav-Jiwan/1.jpg">
      <p>Hi there! </p>
      <p>I am Gaurav Jiwan (Y18, CE) and was placed in PwC in their consulting practice during the 2021-22 placement season. The previous accounts on the SoCE page have done an exceptional job in explaining the technicalities of placements, and I highly recommend going through them. Hence, in the interest of not sounding like a broken record, I'll focus on my placement journey, all the way from leaving the internship season midway to being asked only technical questions in a consulting interview, with a short summary of my key learnings towards the end.
       
      </p> 
      <p>During the first few years at IIT Kanpur, I did what most do in those years: try out different activities and understand the importance of academics - the hard way. The key takeaway of the exercise was that I became very clear about what I didn't want to do. However, I still had a lot of souls searching to do before I could decide what I wanted to do.

      </p> <img class="img2" src="/img/Student-section/placement-postulates/blogs/Gaurav-Jiwan/2.jpg">
      <p>
        Right before the internship season, I talked to several seniors headed to different industries for their internships. I found consulting and research interesting, but I knew that it was too early to decide. Most of the people doing internships were headed to mostly coding-related roles (broadly speaking, these roles had a coding test before the interview). Others went for their internships to branch-specific / 'core' roles (such as those at ITC, Mitsubishi, etc.) and analyst roles (these roles had questions on aptitude, stats, etc., questions in their tests, e.g., AmEx). It took no genius to figure out that almost all companies visiting campus required coding skills, some knowledge of statistics, and solving aptitude questions fast. 
      </p> 
      <p>
        Thus, I started my internship preparation in the 2nd year summer. I learned DSA from different youtube videos and followed the coding track on interviewbit for practice. For aptitude questions, I referred to prepleaf, and for probability/statistics, I went through Brainstellar and Mosteller's '50 Challenging Problems in Probability, having already studied HSO201 last semester. I felt reasonably confident in coding but was mostly working on it due to the lack of a better option. 
      </p> <img class="img1" src="/img/Student-section/placement-postulates/blogs/Gaurav-Jiwan/3.jpg">
      <p>
        When the internship tests started, I was shortlisted for some companies. However, even when some interviews seemingly went well, I ended up being rejected for unclear reasons, even after the final HR rounds. This made me rethink the importance of luck and have fallback options. Furthermore, a week into the process, I also applied for a research internship via DAAD-WISE at the suggestion of a few professors. Unfortunately, it soon dawned on me that I had selected a preference for industrial internships on the SPO portal while registering and couldn't apply for waiving the SPO internship if I got selected for the research internship. On the other hand, I understood that the research internship was something that I really wanted to do to better understand the research ecosystem, get some international experience and decide whether I wanted to go for an MS or pursue research. 
      </p>
      <p> <img class="img2" src="/img/Student-section/placement-postulates/blogs/Gaurav-Jiwan/4.jpg">
        Therefore, I decided not to sit for any more companies in the internship season, only to be notified by the end of the year that in-situ internships were canceled for that year by DAAD, another fallout of the pandemic that I didn't anticipate. I discussed the same with my research internship mentor and found that he wanted to start the internship remotely from July (right around when most industrial internships end). This change of events also opened the opportunity of going for an SPO internship in the summers. Hence, I applied for the second phase of SPO internships. I was surprised to see Nation with Namo, a political consulting firm, coming to recruit interns from IITK for consulting roles. I readily applied for the same and was lucky to be selected for the internship.
      </p> 
      <p> <img class="img1" src="/img/Student-section/placement-postulates/blogs/Gaurav-Jiwan/5.jpg">
        At NwN, I was tasked with working closely with a state government and a political party (you know which) to develop electoral strategies for constituencies allotted to me and curate a handbook outlining a roadmap to revamp aquaculture in a state. It was probably one of my most memorable experiences ever because it involved connecting with all the stakeholders, all the way from farmers to ministers, to devise strategies to maximize impact. It was the final nudge that I needed to align my blinkers toward consulting.

      </p>
      <p>
        Work increased significantly towards the end of the summer. Besides pressure to finalize my deliverables at NwN, I also had to work on a conference proceeding of a project scheduled for July end and address the elephant in the room - upcoming placements. Making things worse, my research internship also started in July. However, I was lucky to get a lot of help from my buddies and mentors, who helped me stay focused and composed during these times and helped me make the best out of these opportunities.

      </p> <img class="img2" src="/img/Student-section/placement-postulates/blogs/Gaurav-Jiwan/6.jpg">
      <p>
        In the internship, I was tasked to work in a 4-member team, all members coming from different countries, at a German Observatory to develop a model that can use GPS signals to detect soil moisture at any place/time. I was amazed by the diverse perspectives and skillsets my colleagues brought to the table, helping us reach results beyond a single discipline.
      </p>
      <p>
        At the end of my internships, I was sure that I wanted to apply for consulting roles during placements. However, I also understood that consulting companies eliminate people via resume shortlisting, where they look for 'spikes' or achievements on the resume. My resume only had decent academic work and a couple of internships to show for almost no strong PoRs, or extracurriculars. My chances of selection were statistically abysmal, but I planned on trying my best to get in. The fears regarding resume shortlisting were validated when McKinsey, Bain, and BCG came to campus prior to the SPO placement season, and I wasn't shortlisted for interviews in any of them. It was highly demoralizing, but thanks to my friends, I was able to bite the bullet and draw invaluable insights on my resume. I got to work improving it and also started preparing for product management, analyst, quant, and coding profiles as well (yes, almost all the roles that opened for CE students) because I didn't want to take any chances.
      </p> <img class="img1" src="/img/Student-section/placement-postulates/blogs/Gaurav-Jiwan/7.jpg">
      <p>  
        I gained a sigh of relief when I was shortlisted at Dalberg, where I applied off-campus and finalized that resume as the master template for my SPO applications. Once the placement tests began, I knew that getting all questions right (with all the test cases correct for coding questions) was almost a necessity to even be considered for shortlisting. After a couple of months of giving tests, the shortlists came, and I was fortunate to get shortlisted in almost all of the companies/roles that I had applied for. In fact, the final changes in my resume paid off, and I was shortlisted for almost all the consulting companies visiting campus as well. With newfound confidence and support from my friends, I started preparing for the interviews amidst the end semester exams, for which I couldn't prepare much due to the tests (but let's leave that story for another day). 
      </p>
      <p>  <img class="img2" src="/img/Student-section/placement-postulates/blogs/Gaurav-Jiwan/8.jpg">
        I had only consulting interviews in 1.1 (day 1 - slot 1), but in 1.2 (day 1 - slot 2), I had multiple interviews each for analyst, coding, APM, and some other technical roles. Nevertheless, I continued practicing interview questions with my friends, limited to cases, guesstimates, and puzzles, focussing on 1.1 and planning to go with the flow, and hoping for the best in 1.2. On the day before 1.1 (which was to start at midnight), I went to sleep in the afternoon after giving some placement tests in the morning. At around 4 PM, I was woken up by a call from SPO to let me know that I'd be having my first interview for Samagra at 5 PM. Baffled, I hurriedly got dressed and logged in to zoom in for the interview. The interview was fairly standard for a consulting role, consisting of a social impact case study with an implicit guesstimate, followed by some behavioral questions. My internship in political consulting piqued the interest of the interviewer, and we had a lengthy discussion regarding the same. Overall, the interview went well and helped me improve my confidence prior to 1.1, even though the final rounds of Samagra were to happen in 2.2. 
      </p> 
      <p> <img class="img1" src="/img/Student-section/placement-postulates/blogs/Gaurav-Jiwan/9.jpg">
        Later in the evening, I was informed that my interviews for both Alvarez & Marsal and PwC were scheduled for midnight, but since I could only give one interview, I was asked to sit first for the PwC interview by SPO. The PwC interview started with general icebreaker questions, but soon, the interviewer started asking questions about a project on my resume that used some ML. I was prepared and gave reasonable answers for the same in a way suitable for consulting (fewer technicalities and more impact focussed). However, I soon realized that he meant to grill me on ML and not on cases/guesstimates, which are a staple of consulting interviews. I tried to answer his questions, but they soon became very complex, heading into certain concepts of CNN and deep learning that I hadn't revised for quite a while. I tanked the interview and didn't expect to go any further in the process, but I soon received a call telling me to appear for the second round at 2 AM. After discussing the experience with my friends, they suggested that I revise the ML concepts as much as possible before the interview because even though the interview was for a consulting role, the previous interviewer didn't ask for any cases/guesstimates. Even the buddy assigned to me from PwC was shocked to hear that no cases/guesstimates were asked. In the second interview, I was again grilled on ML (for which I was prepared now), a few probability/combinatorics questions, such as finding the number of ways to shuffle a Rubix cube given a few constraints on face design, and was asked to devise a spatial model for modeling COVID using differential equations (which was another curveball). The interviewer asked me to solve it as well, but I couldn't remember much of the analytical techniques taught in MTH/MSO courses, so I tried to discretize it in a numerical fashion similar to the techniques taught in ESO208 and draw relevant insights. He seemed happy with the approach and wished me luck for the next rounds. The last round consisted of only behavioral questions and was followed by a short call to offer me the position. My placement season came to an abrupt end, and like many others before me, I finally got to sleep peacefully after several tense months. 
      </p> <img class="img2" src="/img/Student-section/placement-postulates/blogs/Gaurav-Jiwan/10.jpg">
      <p> 
        I didn't get to interview for any other companies/roles, and hence, my interview experience is fairly limited in that regard, but I'll try my best to summarise the piece de resistance of the process:
      </p>
      <p>
        <ol>

          <li>Resume
            <ol type="a">
              <li>
              It is the starting point for both internships and placements. The SPO expects it to be submitted around August-September for the internships and placements.</li>
              <li>There is no ideal time to start because it is an iterative process of discovery. I recommend compiling your achievements and skills (hence forming the 'master' resume - a rough document consisting of all the things you have done and a superset of all things you'll be putting in your resume)</li>
              <li>Once the master resume is done, you'll need to map the information to 1-page resumes aiming at different profiles. In a nutshell, focus on highlighting your achievements (awards, results of projects, impact, high CPI, etc.) for consulting/, your tech skills (tech-centric projects, technical skills - preferably highlight those skills that are relevant to the industry of the company you want to apply for with the resume) for coding/tech/analytics and somewhere in the middle for research.</li>
              <li>Try quantifying the points in the resume (21% increase etc.), use action words to correct phrases, and improve formatting to enhance readability (n-second rule for resumes)</li>
              <li>Get resume checked by peers and seniors (preferable)</li>
              <li>Sample Resumes
                <ul>
                  <li> <a href="https://drive.google.com/drive/folders/18xiAga1RH_Hou_dMwSGoQNjkEK3w58N5">AnC Database</a> </li>
                  <li> <a href="https://iitk-my.sharepoint.com/:f:/g/personal/soce_iitk_ac_in/EhnUDko7qQNLmRlkdcXOuIQBkTKqpe1kCSLGKf3RTmJwbw?e=QCDzG8">SoCE Database</a> </li>
                  <li> <a href="https://www.overleaf.com/articles/prabhsimrandeep-singhs-resume/mbkcwgpmwchx">Common Templated</a> </li>
                  
                </ul>
              </li>
            </ol>
          </li>

          <li>Preparation
            <ol type="a">
              <li>
                Start preparing as early as possible (many start very early and continue their internship prep into placements, but most start in April-May preceding the placement season). It'll not only help you analyze your strengths and interests but also give you enough confidence to not mess up tests, which tend to be very competitive.</li>
              <li>Coding: Follow some websites (such as interviewbit, GFG, etc.) for structuring your prep and follow some youtube channels and ESO207 material for DSA. For SQL, try interviewbit (concepts) and w3schools (advanced concepts and questions)</li>
              <li>Aptitude: Most APM and analytics roles have aptitude tests. In these questions, time management is more important than solving the problems. Hence, focus on practicing timed tests on Pariksha and Prepleaf. Furthermore, with the recent surge in non-coding roles (that shortlist students based on aptitude tests) being offered in placements, it's the best bet for people who have decided not to code at all.</li>
              <li>Consulting: Try practicing several cases with friends and case buddies assigned by companies, involving frameworks (profitability, market entry) and unconventional cases. Do the same with guesstimates as well. Remember, consulting companies select students only on the basis of resume and interview, in which they test structured problem solving (approach more important than answer), communication skills, general thinking ability, etc. Start with IITB and IITM casebooks, followed by company/b school casebooks for cases/guesstimates. Also, practice Product cases if sitting for APM roles.</li>
              <li>Probability/Statistics: Analytics and quant companies expect these skills. Practice classical questions from Brainstellar, Frederick Mosteller's '50 Challenging Problems in Probability, and Xinfeng Zhou's 'A Practical Guide to Quantitative Finance Interviews. Use youtube and HSO/MSO course material to understand distributions and statistics.</li>
              <li>Core: Some core companies, such as Tata Projects, shortlist students based on their resumes and ask questions related to core projects in their interviews. Prepare your projects well, and be ready for questions from foundational courses such as solid mechanics for the interview. </li>
              <li>Puzzles: They are asked in almost all roles. Practice them from interviewbit and GFG's list of most asked puzzles in interviews</li>
              <li>Some useful preparation links:
                <ul>
                  <li> <a href="https://docs.google.com/document/d/1361vh1zuKTrCXR_DH0WVzJ1cBWjMWJHnpSqtg6jwTOs/edit?usp=sharing">APM Material</a> </li>
                  <li> <a href="https://www.dropbox.com/sh/zf0curmnh7ke9vz/AABXvvX3xGYdJqvTU_sH0fI3a?dl=0&fbclid=IwAR3DceddDQeQL3_qwRT_ABD4-1prjMfi40wYxmD0_z-FrANARj67Km8S5KM">Quant Material: </a> </li>                  
                </ul>
              </li>
            </ol>
          </li>

          <li>Interviews
            <ol type="a">
              <li>
                Prepare behavioral and HR questions well besides your resume. They are the ones that most interviews start with</li>
              <li>Be ready for curveballs in interviews. Don't think that a company would only ask questions related to their domain in their interviews.</li>
              <li>Get enough sleep, eat well, and stay in touch with friends</li>
              </ol>
          </li>

        </ol>
      </p> <img class="img1" src="/img/Student-section/placement-postulates/blogs/Gaurav-Jiwan/11.jpg">
      <p>
        <p> Other relevant tips : </p>
        <ol type="1"> 
          <li>Try your best to get internships, projects, and strong PoRs while maintaining an 8+ CPI. They help fill the resume and provide fodder to engage the interviewer during the interviews. Furthermore, they help one decide which field to pursue in the future. Also, prepare answers explaining why you lacked in a particular part of your profile (if applicable), such as a low CPI (e.g., you can justify a low CPI by highlighting other spikes such as a high involvement in extracurriculars and a trend of improving CPI over the semesters)</li>
          <li>Maintain a social network during preparation and tests/interviews. Having people to talk to helps maintain confidence and rigor during the process. I owe much of my successes to a group of close friends who stayed by me every step of the way.</li>
          <li>Believe in your skills, but be realistic about your strengths and weaknesses. Also, make active strides to improve in the same.</li>
          <li>Try binding your journey by a story, i.e., 'why' you did something at college, and not only 'what' you did for the interview.</li>
          <li>Overprepare, but go with the flow during interviews. Placement/internship seasons vary drastically in the number of companies or offers, and luck plays a very important role. Many seniors told me that the placement season last year was much more difficult than this year, and hence, be ready for such variations.</li>
          <li>Use SoCE and AnC resources well. They are a treasure trove of invaluable insights and information.</li>
          <li>Approach seniors for any doubts or help during the process; they are not as busy as they appear!</li>

        </ol>

      </p>

      <p>
        Lastly, I'd like to thank my friends & seniors, Shivam Chaudhary, Aditya Dikshit, Tushar Goswamy, Krishna Deo, Neha Aggarwal, Saurabh Vikram, Yashkrit Gupta, Ayush Sharma, and Deependra Chansoliya, who accompanied, encouraged and supported me on this journey and without whom placement journey wouldn't have been the same.
      </p>
    </section>

    <br><br>

  </body>

  </html>