<%- include('header') %>

  <body>
    <section class="top">
      <a href="/../">
        <img src="/img/Student-section/placement-postulates/icon.svg" alt="" class="logopp"></a>
    </section>
    <section class="head">
      <p>PLACEMENT POSTULATES
        <br>
        By Naman Jain
      </p>
    </section>
    <section class="blog">
      <img class="img1" src="/img/Student-section/placement-postulates/blogs/Naman-Jain/1.jpg">
      <p>Hello Everyone!</p>
      <p>This is Naman Jain, a final year undergraduate student pursuing Civil Engineering currently placed in Clear Tax as Business Analyst. This postulate will be more focused on my experience rather than preparation tips. Honestly, I don’t have much to share on the preparation side, as I did the minimalist preparation possible.
       
      </p> <img class="img2" src="/img/Student-section/placement-postulates/blogs/Naman-Jain/2.jpg">
      <p>  <b> Resume:</b>. <br>
        The primary basis of my resume was a Machine Learning project in a Civil Engineering course along with two major PORs of Head Events, Entrepreneurship Cell, and Head Show Management, Antaragni’21. The whole resume-building process started in the second year of the Startup Internship Program (SIP). At that time, it was just a basic resume with some secretary-level PORs. Then my resume improved during the internship season with a head level POR of E-Cell and some online projects through Coursera. Eventually, till the placement season, I had a good and precise resume, including major PORs, ML projects, relevant courses, etc. Building a good resume is very important as it works as the first impression towards your candidature. Many companies use resumes as their first round of shortlisting, and they look for a particular point of information in your resume. So, it should be very brief and accurate. Reviewing your resumes from your seniors is very important as they may highlight some uncertainties that you may have overlooked.                                  

      </p> <img class="img1" src="/img/Student-section/placement-postulates/blogs/Naman-Jain/3.jpg">
        <p>  <b> Preparation:</b>. <br>
            I did major of my preparation during the intern season. In the first year, only I realized that coding was not my forte, and neither did I have an interest in it. But 95 percent of companies coming for the intern season are the software profile companies. Knowing that information, I started doing the interviewbit, completed a significant portion of it, and revised ESC101 lectures. For puzzles, I did brainstellar along with the ‘fifty challenging problems in probability’ book. These two are pretty enough to cover all bases of puzzle-solving techniques. Even if you don’t face the exact issues, they provide you with a thinking process to analyze and solve the puzzle. Now coming to the placement season, I started preparing just three days before interviews; I reviewed and studied my resume and completed a YouTube video series on Product Management roles. This is not at all recommended; you should start preparing at least four months before your tests and interviews.                                                                     
    
          </p> <img class="img2" src="/img/Student-section/placement-postulates/blogs/Naman-Jain/4.jpg">
          <p>  <b> Interviews:</b>. <br>
            During the intern season, after applying to every company and giving all tests, including coding, aptitude, and finance, I just got shortlisted for one interview, and that too in a company that had no coding round. That one interview went very miserably and clearly was not selected. This made me realize that coding jobs are not for me. So, during placement season, I just applied for the non-software roles. I got my offer in the 3.1 slot; before that, I gave multiple interviews in almost every slot except 1.1. My first interview was for MasterCard, in which I was asked civil engineering questions unexpectedly, and clearly, I did terribly. Then I gave many other interviews for very different companies, finally getting an offer from Clear Tax in the 3.1 slot. The main thing important in your interviews is your confidence and how you perform under pressure. Not knowing something doesn’t give that bad of an impression as an underconfident and nervous candidate. Try to build up your confidence and reduce your nervousness through mock interviews or practice interviews.                                                                                                         
    
          </p> <img class="img1" src="/img/Student-section/placement-postulates/blogs/Naman-Jain/5.jpg">
      <p>
        During placement season, it is very important to surround yourself with good and supportive people. As someone rightly said, “The greatest value of having good people around you is not what you get from them, but the better person you become because of them.” I had the privilege to have good supportive friends around me. The majority of my friends had their placement season sorted by PPOs or extended degrees. But still, they woke up with me every single time for my interview. As all the slots are very closely packed, one ending at 4 AM in the morning and another starting at 6 AM, they didn’t sleep so that I could get proper sleep without worrying about waking up at the correct time. During the placement season, you see your friends turning into your family. You don’t get jealous if your friend or wingie is placed first; you genuinely feel very happy for them. No one celebrates or parties until and unless every member of your group is placed. This is the kind of atmosphere that is created during the placement season; you become one big family and try to support each other as much as you can.
      </p> 
      <p>
        As most of you will be having your placement season offline, rather than worrying about it, enjoy the whole process, work hard, and sincerely for it. You will definitely see yourself maturing and growing after the whole season. You tend to become calmer and value small things more. Placement season just requires some sincerity and confidence to get you a decent offer. Try to have good people around. I definitely enjoyed the whole process; it helped me grow as a person. 
   
      </p>
      <p>
        Just don’t doubt yourself. Getting a placement offer is way easier than getting an internship. You have ample options, and you always have sufficient time to prepare for the interviews. If I, with minimalist preparation, can get an offer in the 3.1 slot, then anyone can do it with sufficient preparations. Do not hesitate to contact me with any doubts; always happy to help.
      </p> 
      <p>
        All the best!! Do well!!

      </p>
      <br><br>
    </section>

  </body>

  </html>