<%- include('header') %>
<body>

    <section class="head">
        <p>PLACEMENT POSTULATES
            <br>
            By Rajat Ghoshal
        </p>
    </section>
    <section class="blog">
        <p>
            Hi everyone. I am Rajat Ghoshal, a Final Year Undergraduate (Y17) in Civil Engineering, hoping for minors in
            IME and ML (a retrospective one :p). About academics - with a CPI just enough for distinction, I have been
            working on an undergraduate project in my final year focusing on data analysis in Geo-informatics. Not much
            into the extracurriculars, but yeah I am the student representative in Cell for Differently Abled Persons
            (a.k.a. CDAP). I was also a Student Guide. Currently, I am placed as a Data Scientist at Hilabs Inc. Enough
            of the intro, let’s dive in.
        </p><img src="/img/blogs/Rajat-Ghoshal/1.jpg" class="img1">
        <p>
            To start with, let’s look at one of the most important aspects of the placements (at least to me): it is
            those one or two pages that will distinguish you from the rest of the batch, your Resume. I cannot emphasize
            this more but none of the hiring people would know anything about you. It’s just your resume in front of
            them. A resume should highlight all the work and qualifications that you have done and achieved and which
            are relevant to the job profile that you have applied for. Brief sections in your resume should be
            academics, projects, work experience (internships) and skill set. You cannot write everything in the resume
            since you only have limited space. For software and data science profiles you need to have more emphasis on
            related projects and internships. For business analyst roles you need to have more emphasis on your PORs.
            For core, you need to highlight more on the civil projects (I remember a resume that had a lot of stuff but
            nothing came out effectively when you take a look at it). You need to be very particular about writing
            anything on the resume (For eg. many write excel as a skill but merely writing some formulas in it cannot be
            counted as a skill). Be prepared and well-versed with every word that you have written in your resume (in
            the literal sense). You need to be mindful of the fact that you can only submit up to 5 resumes and that
            also one time. Thoroughly, prepare your resumes for all the fields that you want to apply to. For other
            fields also you should prepare a resume just for backup. Lastly, get it reviewed by the seniors in various
            domains as it gives you a fair idea of how your resume should look. It takes you multiple iterations to
            reach that perfect resume.
        </p>
        <p>
            It took me around 3 weeks in all as I had to learn Latex(a documentation tool) for that. I got it reviewed
            from seniors from consulting, software and analyst profiles (Fact - CEO at Hilabs had praised my resume
            during the interviews :) )
        </p><img src="/img/blogs/Rajat-Ghoshal/2.jpg" class="img2">
        <p>
            There are a wide variety of profiles that you can apply for. Software development (includes various profiles
            like full stack developer, software engineer, etc), trading firms, data science, data analyst, business
            analyst, consulting, product management, core sector, design. Although there are a lot of profiles, the
            number of opportunities in each field varies a lot. Some companies put restrictions on the branch or the
            program (b-tech, dual, etc). Although some fields may have large overlaps it's better to talk to seniors of
            that domain so you could get a better picture of the field and the preparation that is required. For data
            science, you should have a hold on Machine learning topics and a couple of projects or internships in the
            same. Coding is required as well (will talk about it in more detail). I cannot comment on other fields,
            rather I shouldn't since that could be misleading. Find and talk to seniors who are in those domains.
        </p>
        <p>
            I would be starting from the beginning about placement preparation. In the summer of my first year, I did a
            10-day short course on Machine learning which was my first encounter with an industrial skill. I also
            learned the basics of web development along with that. In the winter of the same year, I did a full-fledged
            web development course but I realised that web development was not something that I would like. During the
            same time, I tried getting involved in a consulting project but that too didn't have my mind. Since summer
            was approaching I wanted to do a project under some professor (you can for SURGE as well). I started mailing
            around but couldn't find any project. But since I was regular in classes, one of the professors offered a
            project to the regular students himself. I am also doing my UGP work under him. During the summers along
            with the project, I was also learning about data analysis. To be honest, I never prepared for the internship
            session since I was thinking about a dual degree. Not preparing for the internship was one of my biggest
            mistakes. Again I went to a senior and talked about the opportunities after a dual degree. Finally, the
            conclusion was that I am not going for a dual and it was the last week before resume submission. I began
            resume preparation (and to be honest it had nothing :p). With almost no preparation, I had applied for
            almost every profile. Even got shortlisted on Day 1 solely due to the aptitude test. But the next round was
            a case interview and I had no idea what a case interview was all about. I even got shortlisted for some of
            the GDs, but there too I was not making it to the further rounds. In most of the coding rounds, I was not
            even able to solve a single question. I got disheartened and depressed. I would suggest never sitting alone
            in those times as it is very easy to be engulfed with negative thoughts. Friends are always there to talk.
            Go out and have your favorite food and play some games to get cheered up. Even if I did so and trust me it
            helps.
        </p><img src="/img/blogs/Rajat-Ghoshal/7.png" class="img1">
        <p>
            In the next semester, I was determined to overcome my mistakes. I started by taking ESO207 as an OE since I
            was interested in ML and coding was required for it. Taking DS was a starting point for me. I edited my
            resume a bit. I had started applying for off-campus internships through LinkedIn and mailing my resume to
            HRs of various companies. But I was not getting any positive response from anywhere. Finally, I decided to
            do a research internship at ISRO under the guidance of my professor. I even prepared an abstract for it but
            then the COVID happened and all of the things became uncertain. I kept applying through LinkedIn and
            finally, I got an internship at a startup. It was a 2-month internship that started in April and went till
            June. That was my first experience of corporate life. There I was involved in data analysis and web
            development projects. In June, I started my placement preparation. At the same time, my UGP work also
            started. I started practicing coding regularly on Geeks for Geeks and watched youtube tutorials of Abdul
            Bari for topics in which I was not comfortable. A major dilemma is the choice of programming language. I
            went for CPP since it was the most recommended and was very similar to C. You can choose any language you
            want but some companies restrict the choice of language so be versed with at least 2 languages. I also did a
            couple of Coursera courses in Deep Learning.
        </p><img src="/img/blogs/Rajat-Ghoshal/3.JPG" class="img2">
        <p>
            For the interviews, I took help from the prepleaf youtube channel. It has some pretty good videos which were
            very helpful for me. For puzzles, I referred to Geeks for Geeks but brainstellar is much more recommended.
            Be in touch with your friends. Placement season could be very exhaustive and requires a lot of mental and
            physical effort. Eat and sleep well during your placement drive since it's important to stay healthy.
        </p>
        <p>
            Most of us usually have a good hold on aptitude, it’s just that we need to have good speed and accuracy
            during the test. For this, you can practice from any online source like Prepleaf to check on your aptitude.
            If you feel like you need some preparation you can again refer to these online resources for a refresher on
            the topics.
        </p>
        <p>
            Well, no one mentions in their resume if they have secured it on campus or off campus :p. Although it may
            make some difference (some company names are more prominent and give you some edge) in the end the work and
            learning you do is more important. If you can express your work during the interviews effectively that
            should be sufficient.
        </p><img src="/img/blogs/Rajat-Ghoshal/4.jpeg" class="img2">
        <p>
            In general, although some companies are exclusive to the circuital branches still there are a lot of
            companies which are open to all and you will get a lot of opportunities. Don't stick to a single company if
            you get rejected since it may hamper your performance ahead. CPI is a very important criterion to get
            shortlisted for even the test round. I would recommend a CPI above 8 and you should be fine. There are very
            few opportunities in the core. As far as I remember, Tata projects and Sterlite were the two companies till
            Day 3. ExxonMobil was not open for B-Techs. If you are going for core then you should be confident enough
            about your subjects. Having a good CPI adds to your advantage. A couple of core projects are add-on. I would
            also suggest preparing for some other role as well for a backup.
        </p>
        <p>
            Dealing with the placement session online is much more difficult since you do not have friends nearby to
            discuss with. Just keep in your mind that everyone is facing the same situation and you alone are not at a
            disadvantage. To be honest I did 75% of my resume work while I was at home. You can always have group calls
            or video meetings with friends to cheer up each other. Make a placement preparation group and practice
            together for GDs and mock interviews. I still remember we had a lot of mock interviews among us and at the
            end we used to discuss or laugh at some of the other things. Don't take too much stress. Talk with your
            family and everything would be alright :)
        </p><img src="/img/blogs/Rajat-Ghoshal/5.jpg" class="img1">
        <p>
            You must keep your academic load less in the 7th semester since you would be occupied heavily with coding
            and aptitude rounds. Placement tests would be starting after the midsems and will be scheduled from 6 PM to
            2 AM. You won't be able to give much time to academics due to the tight schedule. So plan your load
            accordingly. I took 48 credits that semester with 2 modular courses after mid sem and a UGP. Since I started
            my UGP work in June my professor allowed me a break during the placement time. Try to minimize your load as
            much as possible. Our interviews were scheduled just after the classes ended. I still remember I had a lot
            of assignment submissions in the last week due to which I got very little time for revision. Try to complete
            all your commitments before the last week so that you can start preparing and revising for the interviews.
        </p>
        <p>
            Keeping in mind the 50 applications rule(you can only apply in 50 companies(applying in different profiles
            of the same company is counted as 1 only) till Day 3) I was only applying for coding and analyst roles. Try
            to apply to fewer companies otherwise, you will find yourself giving a lot of tests which would eat up your
            valuable time for preparation for the interviews. Before the interviews started, I was shortlisted for 6
            companies till Day 3, 3 were for Data Science profiles, 2 were for analyst roles and one was in the core
            field. There is also an extended shortlist for some of the companies and you would be informed just before
            the interviews about that. So be ready for that also. In general, interviews are all about your projects and
            internships. You will get a lot of questions about them. Apart from that normal coding questions, puzzles,
            guesstimates, ML knowledge and HR questions would be asked and the proportion of questions from each topic
            would depend on the type of role. Try to ask your seniors in that particular company before sitting for an
            interview.
        </p><img src="/img/blogs/Rajat-Ghoshal/6.jpg" class="img2">
        <p>
            Since no interviews were there in 1.1(scheduled from 12 Night to 8 AM) I took a good sleep before 1.2 since
            in the previous week I only slept for 4 hrs a day. In 1.2, I only had the Blackrock interview. The slot was
            starting from Noon and my interview got scheduled first :( and this I got to know 15 mins before. I was not
            even ready with my formals. Somehow I managed and got ready for the interview. To be honest that interview
            went horrible as the interviewer started questioning me from a course that I did in my first year (that's
            why I said - be versed with every word of your resume). I was not hoping for any further calls from
            Blackrock. And then suddenly I got added to a WhatsApp group of Accenture shortlist. This was so sudden that
            I couldn't even recover fully from the previous interview. Round 1 of Accenture went very well since I had
            some confidence now (we were even discussing Japan and people there :p). The second round was not as good
            but overall it also went well. I was thinking that I may get an offer. The results came around midnight and
            I did not get the offer :( It was such a depressing and hard moment for me that I couldn't sleep till 4 in
            the morning (again don’t get obsessed with the rejection). My friends encouraged me and my family also
            supported me and somehow I regained my confidence. I started pondering over the mistakes that I made and
            started working on them in the morning. Again in 2.1, there was no interview scheduled so I got ample time
            to work on the mistakes that I made during the interview. In 2.2 I had my Hilabs interview and since this
            profile was my target, I had not left any stones unturned. On the same day, I messaged a senior at Hilabs
            who was from IITK and asked him about the projects that were going on at Hilabs. I also revised my CS771
            notes since it was an ML profile. Before the Hilabs interview, there was another interview of Thoughtspot
            which was a pure coding interview and I knew that I won't be shortlisted any further in that. With all this,
            I went for the 1st round of Hilabs interview which was all about my projects and ML knowledge. Since I had
            revised my notes the interview went well. At this point, I would also like to emphasize that it's ok to
            accept that you don't know everything and you can ask your interviewer to ask you something else. Since I
            couldn't revise neural nets I was not confident to answer the related questions and I immediately told my
            interviewer about that. As the interview went well, I was confident that I was going to have a 2nd round.
            And within 10 mins I got the call. <img src="/img/blogs/Rajat-Ghoshal/8.jpeg" class="img2">The second round was more on the
            coding side. Luckily all the questions that were asked during that round were familiar and I was able to
            solve all the questions except a puzzle(which was also easy but I couldn't remember at that time). During
            the same time, I was getting a call for the Vmock interview but since I was very tired and I knew that only
            a final round was remaining at Hilabs, I decided to skip the Vmock interview. The 3rd round of Hilabs was
            with the CEO himself. That round was not at all an interview. Rather it was more of a general talk about me
            and my journey and what Hilabs is all about. It was midnight when the interview got over. Unlike Accenture,
            I didn't expect anything this time and was looking at the interview scheduled for the next day. The next day
            also, I had some interviews related to Data Science profiles and since I had revised my ML notes I was
            confident enough. Around 3 AM suddenly I woke up and started checking my phone. One of my wingmates got
            placed at both Vmock and Hilabs and he chose Hilabs. Peeps who get multiple calls are informed earlier so
            that their choice can be taken. As we were discussing things, suddenly the results came and I got an offer
            from Hilabs :) It was such a peaceful and happy moment since most of the wingies and friends got placed at
            the same time and we just started calling each other. All the hardships during the last 1-year paid off and
            we all were very happy :)
        </p>
        <p>
            Don’t be afraid of exploring new things since IITK consists of a plethora of opportunities and you need to
            carve your way out. There is no fixed template. You can take an unorthodox career choice or go for
            placements or masters or MBA. Don't get too obsessed with the placements. Try everything out along with
            maintaining a good CPI. If you have put in decent efforts in your preparation, you will surely land up at a
            good place :)
        </p>
    </section>
</body>

</html>