<%- include('header') %>

    <body>
        <section class="top">
            <a href="/../">
                <img src="/img/Student-section/placement-postulates/icon.svg" alt="" class="logopp"></a>
        </section>
        <section class="head">
            <p>PLACEMENT POSTULATES
                <br>
                By Samyak Jain
            </p>
        </section>
        <section class="blog">
            <img class="img1" src="/img/Student-section/placement-postulates/blogs/Samyak_Jain_Y18/1.jpg">
            <p>
                Hi Everyone; I am Samyak Jain, a senior undergrad in Civil Engineering. I am currently placed at Amazon as a Software Development Engineer-I (SDE-I).
            </p>
            <p>
                Through this blog, I will try to tell you about my journey with all my mistakes and motivate everyone how anyone can get wherever he/she wants with some discipline and consistency. Being at the same place as yours last year, I tried to read these blogs to get insights about the placement process, and there is no better way than to get that feel from someone who’s been through all this. So, let’s begin with the journey.
                <br>
                Starting off, In my first three semesters, the overconfidence of being in one of the best colleges in the country and the no attendance policy(most courses), boring classes all combined, and I became the least serious version of myself in terms of studies, I had ever been.
                <br>
                Before the fourth semester(during Dec-2019), I talked to baapu and some cousins, and they talked some sense into me, which made me go to classes regularly. Apart from this, I went to the IME department many times with a few wingies in search of summer projects. Came March 2020, came Covid-19, lockdown nationwide, no summer on campus, and all the project work and courses planned to do during summer were not possible.
            </p>
            <p> 

                Started to re-access the situation of what could be done. Started one project online and prepared for coding using Coding Ninjas courses. I did not know what I wanted to do in terms of a career; with the project, I explored finance and ML through courses I explored the development and the coding side. Try to explore as many fields as possible at this time, either through internships, projects, online courses, or any other source possible. <i> A quick tip: Do not just do what your friends are doing, do a lot of things and then cancel out what you don’t wanna pursue. </i>
            </p>
            <img class="img2" src="/img/Student-section/placement-postulates/blogs/Samyak_Jain_Y18/2.jpg"> 
            
            <p><b>Internship season</b>

            Started with the resume prep during the summer and slowly improved it by discussing it with many seniors till the last of July. <i> A quick tip: Don’t get tensed/worried if your resume does not have many projects or internships. It is OK. Comparing it with someone can make you a little envious, which will not help at all.</i> Tests began around the end of August, and as I had no preference(a little bit inclined towards finance), I sat in all tests that were open for all the branches. After one week or so, the tests came thick and fast. Apart from tests, online courses also became more hectic due to weekly quizzes and assignments. So it is really important in these times to get proper sleep and food as you will be under constant stress. To negotiate with this, I talked to my school friends and cousins, played football, and basically did anything to take my mind away from this for a period of time.
            </p>
            <p> 

                Starting with Day 1 for internship interviews, your friends will start getting offers, and that is the time you might feel a little more anxious about what is going to happen to you. If you do not have any interviews lined up, you might overthink as well. The same happened to me. A quick tip: Talk to your friend who got an offer and be genuinely happy for him, congratulate him/her with all your heart, and feel the shift in your own energy; really, it will make you feel much better. I did this, and I felt wonderful and more confident, and I got an offer from Axxela trading proprietary around October end. It was for the trading role.
                They had four rounds, and they were quite different from the tests that other companies take. The first round was like quick math round, the second was an aptitude round, the third was a live trading game round in which groups of 6-7 were created, and the final round was a one-on-one interview round.
                
            </p>
            <p>
                The interview was also very interesting; it was more of a stress test rather than any knowledge check. They try to put you under stress by giving multiple questions with no time to think, and you have to remain calm in those circumstances.
                <br>
                Jumping to the May-June period (Last summer before placements):
Most of the students do an internship this summer, and usually, as the internship is offline, little or no time remains for preparation but not this time. You know why :p.
<br>
Around June end, I figured out I didn’t want to go for this role full time due to various reasons. So, I started to figure out roles that I would go for in the placement season and what preparation needed to be done.
I figured out I would like to go for Software roles, Finance roles(quant), and Analyst roles (Product/Business).
<br>
For Resumes, Software roles(in most cases) will not be on top priority for companies, so you need not worry much about resumes if you just want to target Software roles.
<br>
Resumes are an important part of Analyst roles; one interview might just be resume grilling. So prepare well!!!!!
Starting with the preparation for the software role, if you haven’t done coding since your first year, I would suggest you go for some organized course and be very consistent with completing it. After that, try solving InterviewBit questions with the time limit and on a regular basis. One thing that I would especially want to highlight here is that TRY TO KEEP NOTES OF THE QUESTIONS YOU OR YOU FIND A LITTLE DIFFERENT. This will not only help you to revise at a later stage but also will help you gain confidence that you know these concepts apart from the basic standard questions,(I kept a google sheet and added question links which I checked once a week and added questions on a regular basis).
This will be more than sufficient for the Software role, really MORE THAN SUFFICIENT!!!
<br>
Coming to the Analyst role, the two most important focus points must be guesstimates and case studies. I will add a few resources below for guesstimates and case studies, which will give you a little hint.
Guesstimates, you can practice one daily, and it will be more than sufficient.
            </p>
            <p> 

                For Case Studies, you will need a partner who also is practicing the same.  
My Interview Experiences:

<br>
I had only one interview scheduled on Day 1 (1.2), which was for the Flipkart ABA role.

            </p>
            <p> <img class="img1" src="/img/Student-section/placement-postulates/blogs/Samyak_Jain_Y18/3.jpg">
                If anyone faces any sort of problem, be it personal, academic, or career, I’ll be more than happy to
                help. Never ever burden yourself with anxiety because, as we say, “Yaha Naukari toh sabki Lagti hai.”

            </p>
            <p>
                The interview started with a general introduction, and then the interviewer started asking about small case studies and how well I knew about the supply chain and how warehouses were managed. I did not perform well up to the expectations and also realized that I missed many points which came to mind after the interview was over. A quick tip: Assess your interview; if you get some time after the interview, it will be really beneficial for upcoming interviews.
                <br>

                Day 2(2.1): Amazon: There were three rounds, and all of them were mostly data structures based, and in each of the rounds, questions were of medium level. Quick Tip: Interviewers are usually helpful, try to take help whenever necessary, and always start from the very basic solution and take an ample amount of time, even if you know the solution.
                In one of those interviews, the difficulty level of the question was being kept on increasing by increasing constraints; at this moment, you could ask more queries from the interviewer itself.

                <br>
                For more “gyaan” about SDE interviews, connect with me through Facebook and Instagram.
 As the results were not released by amazon, I also took an interview on Day 2.2 for Uni Cards for the Risk Associate role.
There were three rounds, first was a basic guesstimate, in which they asked more questions in between which I could answer to their expectations.
<br>
The second round was a complete case study based round, in which they gave a market entry case for an insurance company; also, the interviewer kept on adding data to make things a little complicated, but overall, it was an easy one.
The final round was the HR round, in which basic HR-related questions were asked.
I was selected for both Uni cards as well as Amazon.

            </p>
            <p>  <img class="img2" src="/img/Student-section/placement-postulates/blogs/Samyak_Jain_Y18/4.jpg">
                    The second round was a complete case study based round, in which they gave a market entry case for an insurance company; also, the interviewer kept on adding data to make things a little complicated, but overall, it was an easy one.
                        The final round was the HR round, in which basic HR-related questions were asked.
                        I was selected for both Uni cards as well as Amazon.
                        General Tips:
                        <ul>
                        <li>The period from October to December(starting) is going to be one of a kind. You will have to keep reminding yourself that you have done enough.</li>
                        <li>Ever in doubt/anxious, try to talk to parents, friends, and seniors ( including me :p) who can understand what you are going through.s</li>
                        <li>There are hell lot of resources available; try to first choose which to go through and keep all the other resources aside and focus on the chosen material.</li>
                        <li>InterviewBit is necessary for SDE roles. Specifically, writing as it helps you build a streak and also to check your time for solving the problem.</li>
                        <li>Guesstimates and Case studies can be prepared during November if you are targeting both SDEs and analysts/consulting roles.</li>
                        <li>Try to give as many tests as possible, do not avoid any test based on CTC, and having a decent number of shortlists always provides comfort.</li>
                        <li>Case studies can be best done with a partner.</li>
                </ul>
            </p>
            <br><br>
        </section>

    </body>

    </html>