<%- include('header') %>

  <body>
    <section class="top">
      <a href="/../">
        <img src="/img/Student-section/placement-postulates/icon.svg" alt="" class="logopp"></a>
    </section>
    <section class="head">
      <p>PLACEMENT POSTULATES
        <br>
        By Yashkrit Gupta
      </p>
    </section>
    <section class="blog">
      <img class="img1" src="/img/Student-section/placement-postulates/blogs/Yashkrit-Gupta/1.jpg">
      <p>Hello Everyone!</p>
      <p>Hey Everyone, This is Yashkrit Gupta, a Final year UG student in civil engineering, currently placed in Barclays for the Quantitative Analyst role. Through this blog, I would love to share the journey of my placement season. This blog will be centered around my experience. If you are here just for resources and general tips, I recommend going through Y17 batch postulates as I referred to the same postulates for my preparation.
       
      </p> <img class="img2" src="/img/Student-section/placement-postulates/blogs/Yashkrit-Gupta/6.jpg">
      <p>Let's start with the internship season, the time when everyone starts to narrow down their career prospects (or have to narrow down through elimination :p). I was inclined more towards engineering services but changed my mind for multiple reasons. The internship season had just begun, and I was there with zero preparation at all. I know internship season will be hard for me, So I stopped sitting in internship tests (will not recommend doing this) and focused on my 5th semester and placements. Now, I need to know which field I should target. I did some probability & statistics courses and liked them, which led me to prioritize Quant and Data Science roles. One needs to be proficient in programming too for these roles, So having SDE roles for backup was the best way to move forward. The target was clear, now had to plan the journey. In December'20, I learned primary ML and did a self project to apply my understanding. 6th semester started, and I also took ESO207A to learn the basics of DSA. I started searching for an internship a bit late (April'21), and I got an internship offer for a Tech PM role. Thought I could explore into non-tech fields through this internship, but my internship experience led me to focus on technical roles only for the placements.

      </p> <img class="img1" src="/img/Student-section/placement-postulates/blogs/Yashkrit-Gupta/3.jpg">
      <p>
        Summers started, and I spent whole summers on coding besides my internship. Completing daily goals of InterviewBit and Binarysearch contests with friends were daily things in summer (Can’t stress enough on this point, having a good circle is really important. Helps to maintain the consistency during the preparations). August came by, and my internship had already ended. So I concentrated on Aptitude, Probability & Statistics side by side. It took a week to get my resume ready and review it from multiple seniors. By the end of September, I had almost completed InterviewBit and was ready for placement tests.
      </p> <img class="img2" src="/img/Student-section/placement-postulates/blogs/Yashkrit-Gupta/4.jpg">
      <p>
        Then started the placement season with loads of tests. Man, those starting tests were effing hard, prolly due to online exams. I remember facing segment tree, bellman ford, binary lifting questions consecutively in 4-5 tests, not really expected. Thank god, the campus re-opened for Y18s in October, So I came to campus. Test frequency was so much that we had no time to do anything else than give tests. My friends and wingies really came in clutch to manage stress, anxiety during the bad days. (There will be days when you ruin 3-4 tests consecutively or couldn’t give your best for your dream company. But you have to reset and prepare for your upcoming tests by working on your weak topics and those mistakes you made in earlier tests. Also, questions repeat many times. So, if you aren’t able to solve a question during tests, make sure to solve it or get it solved afterwards). 
      </p> <img class="img1" src="/img/Student-section/placement-postulates/blogs/Yashkrit-Gupta/5.jpg">
      <p>
        From Mid-November, SPO started posting shortlisting for interviews. At the same time, we also had to prepare for interviews (Preparing resume well, Puzzles, Glancing through frequently asked coding interview questions, Company-wise questions etc). I had around 12-14 shortlists in the end and was confident that this would land me somewhere xD.
      </p>
      <p>
        <b> Now, it's time for the interviews</b>. <br>
        December'21:  <br>
        The most awaited day of the year, December 1, a.k.a Day 1 of placements, was there. Slot 1.1 started at midnight. I had no shortlists for 1.1, So I "planned" to have a good 8-9 hours of sleep as other slots were intensively packed for me. But sleeping that night is almost impossible. I woke up around 2 AM with my wingies screaming about their interview experiences. Went out and asked my friends about their interview experiences, and was already feeling chills inside me. Then I slept for 4 hours and woke up at 7 AM and results for 1.1 were getting out already. You know someone got placed by hearing screaming, shouting voices from his wing. And also some disappointed faces whose luck didn't shine in 1.1. 
        <br>
        Slot 1.2 came, and now my placement season had started. I was shortlisted for American Express and waitlisted for Barclays, Accenture JP, MTX, EightFold for 1.2. Started with AmEx at 12:30 PM and completed both rounds by 2 PM. Interviews went fine; Round1 focused on resume, puzzles, Questions on Bagging & Boosting (As I used them in one of my projects). Round 2 started with some chit-chat about my hometown (The interviewer visited my hometown several times, what a stroke of luck). And then about revenue streams of credit cards, How AmEx is different from other similar companies. Then finally, he asked me a guesstimate. I never practiced guesstimate, so I messed up lil bit in the end.
   
      </p>
      <p>
        Then I took lunch and a short nap of 20 minutes, and started getting calls from Accenture JP and Barclays PoC for interviews. Preferred Barclays and gave both rounds. Round1 was preoccupied with Calculus, Probability & Stats, Which went average (I made some silly mistakes in 2 questions). Round2 had two members, One member asked me basic coding questions and conceptual questions on OOPs, Other member asked me various situational based questions. After this, I started with rounds of MTX. Round 1 asked me to implement DFS and Dijkstra, followed by multiple questions on WebDev, APIs, Cloud Computing which I didn't know. Round 2 asked me to implement a pattern searching algorithm on a circular string. They then grilled me on Neural Networks and ML models metrics. It was around 7 PM when I finished two rounds of MTX. I was so exhausted and sad cause I wasn't expecting to get placed in 1.2. I didn't even know how many rounds each company had and thought I already got rejected from the companies as I didn't hear back from anyone. I went for some bulla in my friends’ room and got a call for an HR round for MTX at 7:45 PM. I rushed to my room to change into formals and get ready for the HR round. The HR round went well, and I was satisfied enough with this round. And just after the HR round, I got a call from APC that I got selected for both Barclays and Amex and asked for my preference. I was like, Is this even real, or is someone having a nasty prank on me ?! But later it got confirmed, and I prefered Barclays for my job. I broke this news to my friends & family; all of them were genuinely happy for me. But hey, placement season is still not over; essential to help your friends with their interviews now.
      </p> <img class="img1" src="/img/Student-section/placement-postulates/blogs/Yashkrit-Gupta/2.jpg">
      <p>
        In the end, I would say that. It's not hard, just be consistent with your preparations. Plan your journey and follow it religiously. Especially after the internship season, Many start doubting about the placements. But in reality, Getting a placement is more effortless than getting an internship. Also, Contact me if you guys have any doubts; happy to answer them.

      </p>
    </section>

  </body>

  </html>