<section id="alumnus">

    <section class="faculty_header">
        <div class="alpha"><br>
            <h1 data-aos="slide-down" class="activities_heading"> FAMOUS ALUMNI </h1><br>
            <hr data-aos="slide-up" id="famous_rule" class="rule">
        </div>

        <div class="subheading">
        </div>
    </section>

        <section class="faculty_section">

            <div class="container_faculty">
                
            <%alumni.forEach(function (alum){%>
                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src=<%=alum.image%> alt="">
                        </div>
                        <div class="contentBx">
                            <h3 style="color: #FACE7F;"><%=alum.name%> <br> <%=alum.batch%> <br> <span> <%=alum.post%>  </span></h3>
                        </div>
                    </div>

                </div>
                <% }) %>
            </div>


        </section>

    <div style="text-align:center;">
        <i class="fas fa-chevron-up" style="color: #fff;" onclick="upAlumnus()" aria-hidden="true"></i>
    </div>
</section>