<section id="researches">
    <div class="container01">

        <h1 class="researchheading">Research & Patents</h1>
        <div style="text-align: center;">
            <p id="research_and_patent">Every specialization in Civil Engineering is an active area of research for our department, and the research papers and patents published boasts significantly of the same. Here are some of those listed :</p>

        </div>
      
        <div class="photos">
            <a target="_blank" href="https://www.iitk.ac.in/ce/geotechnical-engineering">
                <div class="imge first" id="First">
                    <img src="/img/Department/research/geotechnical-engineering-lab.jpg">
                </div>
            </a>

            <a target="_blank" href="https://www.iitk.ac.in/ce/structural-engineering">
                <div class="imge second" id="Second">
                    <img src="/img/Department/research/structural engineering.jpg">
                </div>
            </a>

            <a target="_blank" href="https://www.iitk.ac.in/ce/transportation-engineering">
                <div class="imge third" id="Third">
                    <img src="/img/Department/research/transportation-engineering-lab.jpg">
                </div>
            </a>

            <a target="_blank" href="https://www.iitk.ac.in/ce/geoinformatics">
                <div class="imge fourth" id="Fourth">
                    <img src="/img/Department/research/geoinformatics-lab.jpg">
                </div>
            </a>

            <a target="_blank" href="https://www.iitk.ac.in/ce/environmental-engineering">
                <div class="imge fifth" id="Fifth">
                    <img src="/img/Department/research/environmental.jpg">
                </div>
            </a>

            <a target="_blank" href="https://www.iitk.ac.in/ce/infrastructure-engineering-and-management">
                <div class="imge sixth" id="Sixth">
                    <img src="/img/Department/research/infrastructure-lab.jpg">
                </div>
            </a>

            <a target="_blank" href="https://www.iitk.ac.in/ce/hydraulics-and-water-resources-engineering">
                <div class="imge seventh" id="Seventh">
                    <img src="/img/Department/research/hydraulics-and-water-resources-engineering-lab.jpg">
                </div>
            </a>


        </div>
    </div>

    <div style="text-align:center;">
        <i class="fas fa-chevron-up" style="color: #fff;" onclick="upResearch()" aria-hidden="true"></i>
    </div>
</section>