<script>
    var pre=document.getElementById('loading');
    function preLoader(){
        pre.classList.add("vanish");
    }
</script>

<!--Scroll-effect-->
<script src="/js/aos.js"></script>
  <script>
    AOS.init({
        offset : 20,
        duration :2000
    });
</script>
<script>
  var navLinks=document.getElementById("nav-links");
  function showMenu(){
  navLinks.style.right="0";
  }
  function hideMenu(){
  navLinks.style.right="-100vw";
  }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
<script src="/js/script.js"></script>

</body>
</html>