<section class="talks" id="talks">
  <div class="alpha">
    <h1 data-aos="slide-down" class="activities_heading" style="margin-top: 3%;"> ALUMNI TALKS </h1><br>
    <hr data-aos="slide-up" id="alumni_rule" class="rule">
  </div>



  <div class="alpha" style="margin-bottom:0px;">
    <br>
    <h2 class="activities_heading" style="margin-bottom:0px;">2021-22</h2>
    <br>
  </div>

  <div class="alum_card_deck">

    <div data-aos="zoom-in" class="alum_card">

      <a href="https://www.facebook.com/story.php?story_fbid=1000651263834724&id=312231476010043" target="_blank">
        <img loading="lazy" class="alum_card_image" src="/img/Activities/alumtalk/Slide17.jpg"
          title="Career Choices | SoCE IITK"></a>

    </div>

    <div data-aos="zoom-in" class="alum_card">

      <a href="https://www.facebook.com/312231476010043/posts/984204785479372/" target="_blank">
        <img loading="lazy" class="alum_card_image" src="/img/Activities/alumtalk/Slide16.jpg"
          title="Career Choices | SoCE IITK"></a>

    </div>

    <div data-aos="zoom-in" class="alum_card">

      <a href="https://www.facebook.com/312231476010043/posts/999654163934434/" target="_blank">
        <img loading="lazy" class="alum_card_image" src="/img/Activities/alumtalk/Slide15.jpg"
          title="Career Choices | SoCE IITK"></a>
    </div>

    <div data-aos="zoom-in" class="alum_card">

      <a href="https://www.facebook.com/312231476010043/posts/960856664480851/" target="_blank">
        <img loading="lazy" class="alum_card_image" src="/img/Activities/alumtalk/Slide14.jpg"
          title="Career Choices | SoCE IITK"></a>
    </div>


  </div>

  <div class="alpha">
    <br>
    <h2 class="activities_heading" style="margin-bottom:0px;">2020-21</h2>
    <br>
  </div>

  <div class="alum_card_deck">

    <div data-aos="zoom-in" class="alum_card">

      <a href="https://www.facebook.com/312231476010043/posts/873149159918269/" target="_blank">
        <img loading="lazy" class="alum_card_image" src="/img/Activities/alumtalk/Slide13.jpg"
          title="Career Choices | SoCE IITK"></a>

    </div>

    <div data-aos="zoom-in" class="alum_card">

      <a href="https://www.facebook.com/312231476010043/posts/868963003670218/" target="_blank">
        <img loading="lazy" class="alum_card_image" src="/img/Activities/alumtalk/Slide12.JPG"
          title="Career Choices | SoCE IITK"></a>

    </div>


    <div data-aos="zoom-in" class="alum_card">

      <a href="https://www.facebook.com/312231476010043/posts/744754239424429/" target="_blank">
        <img loading="lazy" class="alum_card_image" src="/img/Activities/alumtalk/Slide11.JPG"
          title="Career Choices | SoCE IITK"></a>

    </div>

    <div data-aos="zoom-in" class="alum_card">

      <a href="https://www.facebook.com/312231476010043/posts/756308351602351/" target="_blank">
        <img loading="lazy" class="alum_card_image" src="/img/Activities/alumtalk/Slide10.JPG"
          title="Career Choices | SoCE IITK"></a>

    </div>

    <div data-aos="zoom-in" class="alum_card">

      <a href="https://www.facebook.com/312231476010043/posts/784406198792566/" target="_blank">
        <img loading="lazy" class="alum_card_image" src="/img/Activities/alumtalk/Slide9.JPG"
          title="Career Choices | SoCE IITK"></a>

    </div>

    <div data-aos="zoom-in" class="alum_card">

      <a href="https://www.facebook.com/312231476010043/posts/784406198792566/" target="_blank">
        <img loading="lazy" class="alum_card_image" src="/img/Activities/alumtalk/Slide8.JPG"
          title="Career Choices | SoCE IITK"></a>

    </div>

    <div data-aos="zoom-in" class="alum_card">

      <a href="https://www.facebook.com/312231476010043/posts/778502502716269/" target="_blank">
        <img loading="lazy" class="alum_card_image" src="/img/Activities/alumtalk/Slide7.JPG"
          title="Career Choices | SoCE IITK"></a>

    </div>

    <div data-aos="zoom-in" class="alum_card">

      <a href="https://www.facebook.com/312231476010043/posts/743899582843228/" target="_blank">
        <img loading="lazy" class="alum_card_image" src="/img/Activities/alumtalk/Slide6.JPG"
          title="Career Choices | SoCE IITK"></a>

    </div>

    <div data-aos="zoom-in" class="alum_card">

      <a href="https://www.facebook.com/312231476010043/posts/743899582843228/" target="_blank">
        <img loading="lazy" class="alum_card_image" src="/img/Activities/alumtalk/Slide5.JPG"
          title="Career Choices | SoCE IITK"></a>

    </div>

    <div data-aos="zoom-in" class="alum_card">

      <a href="https://www.facebook.com/312231476010043/posts/740890699810783/" target="_blank">
        <img loading="lazy" class="alum_card_image" src="/img/Activities/alumtalk/Slide4.JPG"
          title="Career Choices | SoCE IITK"></a>

    </div>

    <div data-aos="zoom-in" class="alum_card">

      <a href="https://www.facebook.com/312231476010043/posts/754827148417138/" target="_blank">
        <img loading="lazy" class="alum_card_image" src="/img/Activities/alumtalk/Slide3.JPG"
          title="Career Choices | SoCE IITK"></a>

    </div>

    <div data-aos="zoom-in" class="alum_card">

      <a href="https://www.facebook.com/312231476010043/posts/754827148417138/" target="_blank">
        <img loading="lazy" class="alum_card_image" src="/img/Activities/alumtalk/Slide2.JPG"
          title="Career Choices | SoCE IITK"></a>

    </div>

    <div data-aos="zoom-in" class="alum_card">

      <a href="https://www.facebook.com/312231476010043/posts/751290498770803/" target="_blank">
        <img loading="lazy" class="alum_card_image" src="/img/Activities/alumtalk/Slide1.JPG"
          title="Career Choices | SoCE IITK"></a>

    </div>



  </div>
  <div style="text-align:center;">
    <i class="fas fa-chevron-up" style="color: white; margin-top: 6%;" onclick="upTalks()" aria-hidden="true"></i>
  </div>

</section>