<section class="talks" id="talks">
  <div class="alpha" style="margin-bottom: 5%;">
    <h1 data-aos="slide-down" class="activities_heading" style="margin-top: 3%;"> ALUMNI TALKS </h1><br>
    <hr data-aos="slide-up" id="alumni_rule" class="rule">
  </div>

  <div class="magazine_card_deck">

    <div data-aos="zoom-in" class="magazine_card">

      <a href="" target="_blank">
        <img loading="lazy" class="magazine_card_image" src="/img/Activities/alumtalk/Slide1.JPG"></a>

    </div>

    <div data-aos="zoom-in" class="magazine_card">

      <a href="" target="_blank">
        <img loading="lazy" class="magazine_card_image" src="/img/Activities/alumtalk/Slide2.JPG"></a>

    </div>

    <div data-aos="zoom-in" class="magazine_card">

      <a href="" target="_blank">
        <img loading="lazy" class="magazine_card_image" src="/img/Activities/alumtalk/Slide3.JPG"></a>

    </div>

    <div data-aos="zoom-in" class="magazine_card">

      <a href="" target="_blank">
        <img loading="lazy" class="magazine_card_image" src="/img/Activities/alumtalk/Slide4.JPG"></a>

    </div>

    <div data-aos="zoom-in" class="magazine_card">

      <a href="" target="_blank">
        <img loading="lazy" class="magazine_card_image" src="/img/Activities/alumtalk/Slide5.JPG"></a>

    </div>

    <div data-aos="zoom-in" class="magazine_card">

      <a href="" target="_blank">
        <img loading="lazy" class="magazine_card_image" src="/img/Activities/alumtalk/Slide6.JPG"></a>

    </div>

    <div data-aos="zoom-in" class="magazine_card">

      <a href="" target="_blank">
        <img loading="lazy" class="magazine_card_image" src="/img/Activities/alumtalk/Slide7.JPG"></a>

    </div>

    <div data-aos="zoom-in" class="magazine_card">

      <a href="" target="_blank">
        <img loading="lazy" class="magazine_card_image" src="/img/Activities/alumtalk/Slide8.JPG"></a>

    </div>

    <div data-aos="zoom-in" class="magazine_card">

      <a href="" target="_blank">
        <img loading="lazy" class="magazine_card_image" src="/img/Activities/alumtalk/Slide9.JPG"></a>

    </div>

    <div data-aos="zoom-in" class="magazine_card">

      <a href="" target="_blank">
        <img loading="lazy" class="magazine_card_image" src="/img/Activities/alumtalk/Slide10.JPG"></a>

    </div>

    <div data-aos="zoom-in" class="magazine_card">

      <a href="" target="_blank">
        <img loading="lazy" class="magazine_card_image" src="/img/Activities/alumtalk/Slide11.JPG"></a>

    </div>

    <div data-aos="zoom-in" class="magazine_card">

      <a href="" target="_blank">
        <img loading="lazy" class="magazine_card_image" src="/img/Activities/alumtalk/Slide12.JPG"></a>

    </div>

  </div>
  <div style="text-align:center;">
    <i class="fas fa-chevron-up" style="color: white; margin-top: 6%;" onclick="upTalks()" aria-hidden="true"></i>
  </div>

</section>
