<section class="fun_events" id="fun_events">
    <div class="alpha">
        <h1 data-aos="slide-down" class="activities_heading" style="margin-top: 3%;"> FUN ACTIVITIES </h1><br>
        <hr data-aos="slide-up" id="rule">
    </div>

    <div>
        <p id="paragraph">Amusing stuffs conducted by SoCE!</p>
    </div>

    <div class="flex-container">

        <div class="fun1" id="fe1"> 
           
                <a href="https://www.facebook.com/312231476010043/posts/978851399348044/" target="_blank" ><img src="/img/Activities/fun-events/1.PNG"></a>
            
        </div>

        <div class="fun1" id="fe1"> 
            
                <a href="https://www.facebook.com/312231476010043/posts/962162301016954/" target="_blank" ><img src="/img/Activities/fun-events/2.PNG"></a>
            
        </div>

        <div class="fun1" id="fe1"> 
            
                <a href="https://www.facebook.com/312231476010043/posts/911424002757451/" target="_blank" ><img src="/img/Activities/fun-events/3.PNG"></a>
          
        </div>

  </div>
    <div style="text-align:center;margin-top: 2%;">
        <i class="fas fa-chevron-up" style="color: #fff;" onclick="upArrow()" aria-hidden="true"></i>
    </div>

</section>