<section class="fun_events" id="fun_events">
  <div class="alpha">
    <h1 data-aos="slide-down" class="activities_heading" style="margin-top: 3%;"> FUN EVENTS </h1><br>
    <hr data-aos="slide-up" id="fun_events_rule" class="rule">
  </div>

  <div>
    <p id="paragraph">Amusing stuffs conducted by SoCE!</p>
  </div>

  <div class="flex-container">
    <div class="fun1" style="height: fit-content;">

      <a href="https://www.facebook.com/312231476010043/posts/1039830069916843/" target="_blank"><img
          loading="lazy" src="/img/Activities/fun-events/4th sem.png"></a>

    </div>

    <div class="fun1" style="height: fit-content;">

      <a href="https://www.facebook.com/312231476010043/posts/1030649727501544/?sfnsn=wiwspmo" target="_blank"><img
          loading="lazy" src="/img/Activities/fun-events/freshers.jpg"></a>

    </div>
    <div class="fun1" style="height: fit-content;">

      <a href="https://www.facebook.com/312231476010043/posts/1030029287563588/?sfnsn=wiwspmo" target="_blank"><img
          loading="lazy" src="/img/Activities/fun-events/game.png"></a>

    </div>
    <div class="fun1" style="height: fit-content;">

      <a href="https://www.facebook.com/312231476010043/posts/1028275384405645/?sfnsn=wiwspmo" target="_blank"><img
          loading="lazy" src="/img/Activities/fun-events/orientation.png"></a>

    </div>
    <div class="fun1" style="height: fit-content;">

      <a href="https://www.facebook.com/312231476010043/posts/978851399348044/" target="_blank"><img loading="lazy"
          src="/img/Activities/fun-events/1.PNG"></a>

    </div>

    <div class="fun1" style="height: fit-content;">

      <a href="https://www.facebook.com/312231476010043/posts/962162301016954/" target="_blank"><img loading="lazy"
          src="/img/Activities/fun-events/2.PNG"></a>

    </div>

    <div class="fun1" style="height: fit-content;">

      <a href="https://www.facebook.com/312231476010043/posts/911424002757451/" target="_blank"><img loading="lazy"
          src="/img/Activities/fun-events/3.PNG"></a>

    </div>

  </div>
  <div style="text-align:center;margin-top: 2%;">
    <i class="fas fa-chevron-up" style="color: #fff;" onclick="upArrow()" aria-hidden="true"></i>
  </div>

</section>