<section class="strength" id="strength">
  <div class="alpha" style="margin-bottom: 5%;">
    <h1 data-aos="slide-down" class="activities_heading" style="margin-top: 3%;"> STRENGTHS </h1><br>
    <hr data-aos="slide-up" id="strength_rule" class="rule">
  </div>
  <div class="magazine_card_deck">

    <div data-aos="zoom-in" class="magazine_card">

      <a href="https://www.iitk.ac.in/civil/soce/strengths/Strengths'07.pdf" target="_blank">
        <img loading="lazy" class="magazine_card_image" src="/img/Activities/strengths/2007.jpg"
          alt="Strengths Magazine SoCE" title="Strengths Magazine 2007 by SoCE IITK"></a>

    </div>

    <div data-aos="zoom-in" class="magazine_card">

      <a href="https://www.iitk.ac.in/civil/soce/strengths/Strengths'08.pdf" target="_blank">
        <img loading="lazy" class="magazine_card_image" src="/img/Activities/strengths/2008.jpg"
          alt="Strengths Magazine SoCE" title="Strengths Magazine 2008 by SoCE IITK"></a>

    </div>

    <div data-aos="zoom-in" class="magazine_card">
      <a href="https://www.iitk.ac.in/civil/soce/strengths/Strengths'09.pdf" target="_blank">
        <img loading="lazy" class="magazine_card_image" src="/img/Activities/strengths/2009.jpg"
          alt="Strengths Magazine SoCE" title="Strengths Magazine 2009 by SoCE IITK"></a>

    </div>

    <div data-aos="zoom-in" class="magazine_card">
      <a href="#"><img loading="lazy" class="magazine_card_image" src="/img/Activities/strengths/2021.jpg"
          alt="Strengths Magazine SoCE" title="Strengths Magazine 2021 by SoCE IITK"></a>

    </div>

  </div>

  <div style="text-align:center;">
    <i class="fas fa-chevron-up" style="color: white; margin-top: 6%;" onclick="upStrength()" aria-hidden="true"></i>
  </div>

</section>