<%- include('partials/header') %>

  <section class="activities_header" id="activities">
    <nav>
      <a href="/">
        <img data-aos="slide-right" src="/img/SoCE-logo.svg" alt="" id="logo" class="logo"></a>
      <div class="nav-links" id="nav-links">
        <i class="fa fa-times bar" onclick="hideMenu()" aria-hidden="true"></i>
        <ul>
          <li data-aos="slide-left"><a href="/">Home</a></li>
          <li data-aos="slide-left"><a href="/activities">Activities</a></li>
          <li data-aos="slide-left"> <a href="/department">Department</a> </li>
          <li data-aos="slide-left"><a href="/student-section">Student's Section</a></li>
          <!-- <li data-aos="slide-left"><a href="">Placement Postulates</a></li> -->
          <li data-aos="slide-left"><a href="/teams">Team</a></li>
        </ul>
      </div>
      <i class="fa fa-bars bar" onclick="showMenu()" aria-hidden="true"></i>
    </nav>

    <div class="alpha">
      <h1 data-aos="slide-down" class="activities_heading about_heading"> ABOUT SOCE </h1><br>
      <hr data-aos="slide-up" id="about_rule" class="rule">
    </div>

    <div class="about_soce">
      <div class="item1">
        SOCE (society of civil engineers, IIT Kanpur) is a non-profit organization. It serves as a link between enrolled
        civil engineering students, alumni and professors at IIT Kanpur. This society is an effort to allow free
        communication and sharing
        of ideas and information among all. The constant support and help from the students and faculty members is
        helping this society to help more and more number of students every day. The only thing that we want to say to
        all the members of this
        society is, Keep it up your noble work!!
        <br><br>
        Years of research in higher education supports the fact that student‐faculty interaction is positively
        associated with several aspects of student success, for example, academic performance, persistence to
        graduation, personal and intellectual
        development, educational aspirations, satisfaction with faculty and department, career prospects, curriculum
        development, etc. The interaction has been identified as one of the primary sources influencing students'
        attitudes, interests , and
        values and plays a vital role in the learning environment. Therefore, better interaction between students and
        faculty is necessary for any educational institute's overall development. In order to develop a good interaction
        between students and
        faculty of the Civil Engineering Department of IITK, The Society Of Civil Engineers plays an active role in
        improving the Faculty-Student interaction in the department. This is done through a series of cultural
        (departmental get-togethers ) and
        intellectual (Talk Series, Workshops,) events. Such events are organized with extreme levels of enthusiasm among
        students and faculties. We always work hard in order to bring students and faculties on the same platform, so
        now, we should
        understand our responsibilities and make this idea a huge success.


      </div>
      <div class="item2">
        <iframe
          src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsoce.iitk&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
          style="border:none;overflow:hidden" frameborder="1" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>
  </section>
  <%- include('partials/footer') %>