<%- include('partials/header') %>

<section class="activities_header" id="activities">
  <nav>
    <a href="/">
      <img data-aos="slide-right" src="/img/SoCE-logo.svg" alt="" id="logo" class="logo"></a>
    <div class="nav-links" id="nav-links">
      <i class="fa fa-times bar" onclick="hideMenu()" aria-hidden="true"></i>
      <ul>
        <li data-aos="slide-left"><a href="/">Home</a></li>
        <li data-aos="slide-left"><a href="/activities">Activities</a></li>
        <li data-aos="slide-left"> <a href="/department">Department</a> </li>
        <li data-aos="slide-left"><a href="/student-section">Student's Section</a></li>
        <!-- <li data-aos="slide-left"><a href="">Placement Postulates</a></li> -->
        <li data-aos="slide-left"><a href="/teams">Team</a></li>
      </ul>
    </div>
    <i class="fa fa-bars bar" onclick="showMenu()" aria-hidden="true"></i>
  </nav>

  <div class="alpha">
    <h1 data-aos="slide-down" class="activities_heading about_heading"> SUMMER PROJECTS 2022-23 </h1><br>
    <hr data-aos="slide-up" id="project_rule" class="rule">
  </div>
  <!-- <div id="project-form" style="text-align: center;">
    <h1 > To apply please fill this <a href=""> form.</a> <small>(Only for CE students)</small> </h1>
    <small>Note: To change your preferences, please fill the above form again!</small>
  </div> -->
  <ul class="project_ul">
      <li>
          <h1 id="project_title">
            Project-1: Financial Decision Framework (FDF) for infrastructures based on Disaster Damage Rating (DDR) models using machine learning approaches.

          </h1><hr class="project_line">
          <ul style="list-style-type:disc;" id="specific">
              <li>
                  <h2>Mentor : <small class="govind">Saurabh Gupta </small></h2>
              </li>
              <li> 
                  <h2>Description : <small class="govind">The aftermath for evaluating buildings' damage level is often based on manual visual inspection. While comprehensive, the process usually takes several days to months to achieve. Mostly, manual inspection involves error-prone, redundant, and inaccurate assessment. Using machine learning approaches, the novel tribrid approach is proposed to integrate UAV and satellite data and then verify with field data to develop Disaster Damage Rating (DDR) for infrastructures. The obtained DDR is then used as input in the proposed Financial Decision Framework (FDF) which may aid decision-makers in better utilization of available funds using multi-criteria decision modeling approaches.</small></h2>
              </li>
              <li> 
                  <h2>Domain : <small class="govind">Transportation Engineering.</small></h2>
              </li>
              <li> 
                <h2>Weekly commitment : <small class="govind">20 hours per week                </small></h2>
              </li>
              <li> 
                <h2>Number of students : <small class="govind"> 3-5</small></h2>
              </li>
              <li> 
                <h2>Pre-requisite : <small class="govind">Programming/Machine learning/Python and a will to work. (There will small assessment before the start of internship and only qualified student will be allowed)
                </small></h2>
              </li>
              <li> 
                <h2>Remuneration : <small class="govind">As this is a funded project, the money will be decided based on the student’s performance. </small></h2>
              </li>
          </ul>
      </li><br>
      <li>
        <h1 id="project_title">
          Project-2: Fog prediction using remote sensing and data science
        </h1><hr class="project_line">
        <ul style="list-style-type:disc;" id="specific">
          <li>
            <h2>Mentor : <small class="govind">Prasad Deshpande </small></h2>
        </li>
            <li>
                <h2>Description : <small class="govind">Fog detection and prediction are essential things for airports and in the general transportation industry. Fog is measured in terms of visibility. The project aims to detect and predict using in-situ observations and INSAT 3D satellites using machine learning. It is a time-series modeling problem with both sequence-to-sequence and image-to-image prediction.</small></h2>
            </li>
            <li> 
                <h2>Domain : <small class="govind">Hydraulic and water resources engineering                </small></h2>
            </li>
            <li> 
                <h2>Weekly commitment :  <small class="govind">20 hours per week</small></h2>
            </li>
            <li> 
              <h2>Number of students : <small class="govind">2</small></h2>
            </li>
            <li> 
              <h2>Pre-requisite: <small class="govind">Basics of Statistics, Python, Machine Learning.              </small></h2>
            </li>
        </ul>
    </li><br>
    <li>
        <h1 id="project_title">
          Project-3: Infrastructure Asset Management framework using deep reinforcement learning
        </h1><hr class="project_line">
        <ul style="list-style-type:disc;" id="specific">
            <li>
                <h2>Mentor : <small class="govind">Meet Saiya</small></h2>
            </li>
            <li> 
                <h2>Description : <small class="govind">The project aims to develop a framework to implement effective maintenance and management of assets considering economies of scale. Assume there are 100(N) bridges in an area to be maintained. Each is in different conditions(C-1 to C-m). They have some deterioration models according to which they deteriorate. As a planner, we have some discrete maintenance actions we can take(A-1 to A-k). Ideally, the bridges should last for a service life of T years. And each year we get a budget B to maintain these assets. The optimization problem is then modeled such that budget constraints are met each year and bridges are above a certain threshold of service levels. The project also aims to consider the effects of maintenance of one bridge on another if they're linked in a network. The optimization framework, once modeled will then be solved using deep reinforcement learning.
                  </small></h2>
            </li>
            <li> 
                <h2>Domain : <small class="govind">Asset management/construction management  </small></h2>
            </li>
            <li> 
              <h2>Weekly commitment : <small class="govind">2 to 3 hours per week</small></h2>
            </li>
            <li> 
              <h2>Number of students : <small class="govind">2-4(Its a theoretical framework till now, any number is ok)</small></h2>
            </li>
            <li> 
              <h2>Pre-requisite : <small class="govind">N/A </small></h2>
            </li>
        </ul>
    </li><br>
    <li>
      <h1 id="project_title">
        Project-4: Seismic study & analysis and design of building for earthquake forces
      </h1><hr class="project_line">
      <ul style="list-style-type:disc;" id="specific">
          <li>
              <h2>Mentor : <small class="govind">Ashutosh Mishra</small></h2>
          </li>
          <li> 
              <h2>Description : <small class="govind">We basically study about seismic behavior of buildings. How earthquake affect the structure? Ways to construct the earthquake-resistant building. If time permits we will move toward the analysis and design portion of the structure for earthquake forces.                </small></h2>
          </li>
          <li> 
              <h2>Domain : <small class="govind">Structural engineering
              </small></h2>
          </li>
          <li> 
            <h2>Weekly commitment : <small class="govind">2 to 3 hours per week</small></h2>
          </li>
          <li> 
            <h2>Number of students : <small class="govind">No limit. If you are enthusiastic enough then we will welcome you.
            </small></h2>
          </li>
          <li> 
            <h2>Pre-requisite : <small class="govind">Some basics of structural analysis.            </small></h2>
          </li>
      </ul>
  </li><br>
  <li>
    <h1 id="project_title">
      Project-5: Air quality monitoring using satellite data via machine learning models
    </h1><hr class="project_line">
    <ul style="list-style-type:disc;" id="specific">
        <li>
            <h2>Mentor : <small class="govind">Vaishali Jain </small></h2>
        </li>
        <li> 
            <h2>Description : <small class="govind">Air pollution is not a new problem. It is one of the emerging concerns for countries like India. Unfortunately, there have not been enough measures taken for mitigating its effect. India has very limited ground monitoring stations for air quality due to its high set-up cost, high infrastructure and operational cost, and lack of awareness. My idea through this project is to use global and national satellite data (large datasets) to find hotspots and areas of interest to act on. We will also validate it to ground truth and information available.  For this purpose, the basics of QGIS and machine learning will be required. It will be good if you have prior knowledge, otherwise, I will teach you basic tools. </small></h2>
        </li>
        <li> 
            <h2>Domain : <small class="govind">Environment engineering            </small></h2>
        </li>
        <li> 
          <h2>Weekly commitment : <small class="govind">8 hours per week</small></h2>
        </li>
        <li> 
          <h2>Number of students : <small class="govind">2          </small></h2>
        </li>
        <li> 
          <h2>Pre-requisite : <small class="govind">QGIS and python (preferably)          </small></h2>
        </li>
    </ul>
</li><br>
<li>
  <h1 id="project_title">
    Project-6: Modeling of liquefiable sand in opensource FEM OpenSees
  </h1><hr class="project_line">
  <ul style="list-style-type:disc;" id="specific">
      <li>
          <h2>Mentor : <small class="govind">Monu Lal Burnwal     </small></h2>
      </li>
      <li> 
          <h2>Description : <small class="govind">Modelling sand to match the soil characterization in Opensees with shake table experiments.          </small></h2>
      </li>
      <li> 
          <h2>Domain : <small class="govind">Geotechnical and FEM          </small></h2>
      </li>
      <li> 
        <h2>Weekly commitment : <small class="govind">8 hours per week        </small></h2>
      </li>
      <li> 
        <h2>Number of students : <small class="govind"> 4-5        </small></h2>
      </li>
      <li> 
        <h2>Pre-requisite : <small class="govind">Mechanics of solid, soil mechanics, FEM(optional) </small></h2>
      </li>
  </ul>
</li><br>
  </ul>



  <br><br>


</section>
<%- include('partials/footer') %>
