body{
    font-size:2.8vh;
    width:96vw;
    background-color: #fff;
    background-image: -webkit-linear-gradient(180deg,#dd1c1c 10%,#000 90%);
    
}
.head{
    font-family: "Palatino Linotype",serif;
	font-size:10vh;
    text-align: center;
    display:flex;
    color: #EDEDED;
    justify-content: center;
    align-items: center;
}
.head p{
    display:flex;
	justify-content: center;
	border:1vh solid #EDEDED;
    /* border-style: dotted; */
	padding-top:5vmin;
	padding-bottom:10vmin;
    width:75vw;
}  
.title{
    font-size:3vh;
    position: absolute;
    align-self:text-bottom;
    transform:translate(20vw,12vmin);
}
/*.blog p{
    text-shadow:none !important;
}
.blog li{
    text-shadow:none !important;
}*/
.blog{
    width:90vw;
    margin-left:4vw;
    text-align:justify;
    word-spacing: 5px;
    color: white;
}
b{
    font-weight: 900;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
.blog p{
    font-size: 1.2rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 500;
}
.blog p ul li p{
    font-size: 1.2rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 500;
    word-spacing: 1px;
}
.blog img{
    border:2px solid white;
    border-radius:3px;
    width:20vw;
    object-fit: cover;
    object-position: top;
    margin-bottom:1vh ;
    max-height: 20vw;
}
.img1{
    float:left;
    margin-right:2vw;
}
.img2{
    float:right;
    margin-left:2vw;
}
.links{
    color:#FFBD69;
    text-decoration:none;
    text-shadow: 1px 1px rgba(0,0,0,1);
}
.links :hover{
    color:#ffffff;
}
@media screen and (max-width:1200px){
    .head{
        font-size:5vh;
        text-align: center;
        width:90vw;
        margin-left:5vw;
    }
    .head p{
      font-size:5vh;
      margin-left:1vw;
      margin-right:1vw;
      margin-bottom:1vw;
      padding-bottom: 12vh;
    }
    body{
        width:100vw;
        font-size:4vw;
    }
    .title{
        font-size:4.5vw;
        transform:translate(0vw,28vmin);
    }
    .blog{
        width:80vw;
        margin-left:10vw;
    }
    .blog img{

        border:2px solid white;
        border-radius:3px;
        width:20vw;
        object-fit: cover;
        object-position: top;
        margin-bottom:1vh ;
        margin-top:2vh ;
        max-height: 20vw;
    }
    .img1{
        float:left;
        margin-right:initial;
    }
    .img2{
        float:left;
        margin-left:initial;
    }
}