<section class="branchmates" id="branchmates">
  <div class="alpha" style="margin-bottom: 7%;">
    <h1 data-aos="slide-down" class="activities_heading" style="margin-top: 1%;"> BRANCHMATES </h1><br>
    <hr data-aos="slide-up" id="mates_rule" class="rule">
  </div>

  <div class="branch_card_deck">

    <div data-aos="zoom-in" class="branch_card">
      <a href="https://www.iitk.ac.in/ce/b-tech-students" target="_blank"><img class="branch_card_image" src="/img/Student-section/branchmates/1.png" alt="Civil Engineering Students at IIT Kanpur" title="B.Tech Students"></a>

      <h3><a href="https://www.iitk.ac.in/ce/b-tech-students" target="_blank">B.TECH <br> STUDENTS</a></h3>

    </div>

    <div data-aos="zoom-in" class="branch_card">
      <a href="https://www.iitk.ac.in/ce/mtech-students" target="_blank"><img class="branch_card_image" src="/img/Student-section/branchmates/2.png" alt="Civil Engineering Students at IIT Kanpur" title="M.Tech Students"></a>

      <h3><a href="https://www.iitk.ac.in/ce/mtech-students" target="_blank">M.TECH <br> STUDENTS</a></h3>

    </div>

    <div data-aos="zoom-in" class="branch_card">
      <a href="https://www.iitk.ac.in/ce/ms-research-students" target="_blank"><img class="branch_card_image" src="/img/Student-section/branchmates/3.png" alt="Civil Engineering Students at IIT Kanpur" title="MS(Research) Students"></a>

      <h3><a href="https://www.iitk.ac.in/ce/ms-research-students" target="_blank">MS RESEARCH <br> STUDENTS</a></h3>

    </div>
    <div data-aos="zoom-in" class="branch_card">
      <a href="https://www.iitk.ac.in/ce/ph-d-students" target="_blank"><img class="branch_card_image" src="/img/Student-section/branchmates/4.png" alt="Civil Engineering Students at IIT Kanpur" title="Ph.D Students"></a>

      <h3><a href="https://www.iitk.ac.in/ce/ph-d-students" target="_blank">PhD <br> STUDENTS</a></h3>

    </div>

  </div>

  <div style="text-align: center;">
    <i class="fas fa-chevron-up" id="high" onclick="upBranch()" aria-hidden="true"></i>
  </div>

</section>
