<section id="civil-courses">
    <div class="alpha">
        <h1 data-aos="slide-down" class="activities_heading" style="margin-top: 1%;">OUR COURSES </h1><br>
        <hr data-aos="slide-up" id="course_rule" class="rule">
    </div>

    <div class="civil_card_deck">
        <div data-aos="zoom-in" class="civil_card">

            <h3><a style="color:#fffefd ;" href="https://iitk.ac.in/ce/data/courses/CE%20Course%20Booklet.pdf"
                    target="_blank">Civil Engineering @ IITK</a><br>
                    <a style="color:#f5ba61 ;" href="https://iitk.ac.in/ce/data/courses/CE%20Course%20Booklet.pdf"
                    target="_blank" rel="Departmental Courses - Combined PDF"><small style="font-size: 0.8rem; color: rgb(255, 255, 255);">Department Courses</small></a>
            </h3>

        </div>
    </div>
    <div class="civil_card_deck">
        <% course.forEach(function(courses){ %>
            
                <div data-aos="zoom-in" class="civil_card">

                    <h3><a style="color:#f5ba61 ;" href=<%=courses.link%> target="_blank"><%=courses.name%></a><br>
                        <a style="color:#f5ba61 ;" rel="courses" href=<%=courses.link%> target="_blank" ><small style="font-size: 0.8rem; color: rgb(255, 255, 255);">
                            <%=courses.course_name%>
                        </small></a>
                    </h3>

                </div>
            <% }) %>
    </div>

    <div style="text-align: center;">
        <i class="fas fa-chevron-up" id="high" onclick="upCourses()" aria-hidden="true"></i>
    </div>

</section>