<section id="resume">
    <div class="alpha">
        <h1 data-aos="slide-down" class="activities_heading" style="margin-top: 1%;"> RESUMES </h1><br>
        <hr data-aos="slide-up" id="resume_rule" class="rule">
    </div>

    <div>
        <p style="font-family: 'Ubuntu Condensed', sans-serif; font-size: 1.2rem;">
            Here we have curated the resumes of some of the students, who aced the interships and placements.
        </p>
    </div>


    <!-- <div class="place_cards">
            <figure class="snip1336">
                <img loading="lazy" src="/img/Student-section/resume/1.png" alt="cover">
                <figcaption>
                    <img src="img/Student-section/placement/icon.svg" alt="profile" class="profile">
                    <table>
                        <tr style="height: 3em;">
                            <td>
                                
                            </td>
                        </tr>

                        <tr>
                            <td><b>
                                <a href="https://drive.google.com/drive/folders/1EbURcySNnb6QHlcl6jnYFYIP_xLA1CEk" target="_blank" class="info"> <h2>
                                    INTERNSHIP RESUMES
                                </h2> </a></b>
                            </td>
                        </tr>
                    </table>
                </figcaption>
            </figure>
    </div> -->



    <div class="card_deck_resume">

        <div data-aos="zoom-in" class="card_resume">
  
            <a href="https://drive.google.com/drive/folders/1EbURcySNnb6QHlcl6jnYFYIP_xLA1CEk" target="_blank" ><img class="card_image_resume" src="/img/Student-section/resume/1.png" alt="INTERNSHIPS"></a>
        </div>
  
        <div data-aos="zoom-in" class="card_resume">
  
            <a href="https://drive.google.com/drive/folders/1uchvdWoavPGodDECOSqTQF50QdPwyPji" target="_blank" >
            <img class="card_image_resume" src="/img/Student-section/resume/2.png" alt="PLACEMENTS"></a>
  
        </div>
  
  
  
  
  
        
      </div>
  
      
<!-- 
    <div class="flex-container">
        <div class="andhapaisa" id="intern"> 
            <h2 >
                <a href="https://drive.google.com/drive/folders/1EbURcySNnb6QHlcl6jnYFYIP_xLA1CEk" target="_blank" >INTERNSHIPS</a>
            </h2>
        </div>
        <div class="andhapaisa" id="placement">  
            <h2>
                <a href="https://drive.google.com/drive/folders/1uchvdWoavPGodDECOSqTQF50QdPwyPji" target="_blank" >PLACEMENTS</a>
            </h2>
        </div> 
      </div> -->


      <div style="text-align:center;">
        <i class="fas fa-chevron-up" style="color: #fff;" onclick="upResume()" aria-hidden="true"></i>
      </div>

</section>